/*
Editor Stylesheet : Wordpress Administration style
*/

@mixin label_editor {
   font-size: 1rem;
   text-transform: uppercase;
   color: $color-primary;
}


.wp-block {
   margin-bottom: 2rem;
   max-width: 100%;
   box-sizing: border-box;
 }

   .block-editor-writing-flow {
      @include spacing(padding-left, $horizontal-padding-regular);
      @include spacing(padding-right, $horizontal-padding-regular);
   }

 .editor-post-title {
    background: $gray-light;
    padding: 1rem;
    position: relative;
    margin-bottom: 5rem;

    &::before,
    &::after  { 
      @include label_editor;
   }

    &::before {
       content: 'Titre de la page';
    }
    
    &::after {
       position: absolute;
       bottom: -4rem;
       left: 0;
       width: 100%;
       background: $white;
       content: 'Contenu de la page';
    }
 }

 // Block Info (Missing ACF value)
 .admin-label {
   @include label_editor;
   text-align: center;
   width: 100%;
 }
 

// Generic class for block preview

.is_preview {
   //background: red;
   border: 1px solid $color-primary;
}