/* Font Face Rules 

 Fonts used :
 
 01 - Inter : Open Source Fonts [@source : https://github.com/rsms/inter/]
     1.1 : Inter Variable
     1.2 : Inter Regular (fallback)
     1.3 : Inter Bold (fallback)
 */


@font-face {
     font-family: 'Anaya';
     font-style:  normal;
     font-weight: 400;
     font-display: swap;
     src: url("./font/Anaya.otf") format("opentype");
}