//Colors
$brand-green :        #7F8A58;
$brand-green-dark :   #5B6337;
$brand-green-medium : #D7DBCB;
$brand-green-light :  #F2F3EE;


$white :              #fff;
$gray-light :         $brand-green-light;
$gray-neutral :       #e0e0e0;
$gray-medium  :       #707070;
$gray-dark :          #323330;
$black :              #000;


$color-primary :        $brand-green ;
$color-secondary :    #10709c;

$green :              #52ca58; // Used in form
$red :                #d42525; // Used in form

$default-text-color : $black;

// Breakpoints
$tiny_width: pixel(320);
$mobile_width: pixel(600);
$tablet_width: pixel(1160);
$desktop_width: pixel(1360);

$wrapper-max: pixel(1080);
$wrapper-large: pixel(900);
$wrapper-medium: pixel(800);


// Universal grid-gap
$grid-gutter : 1rem;

// Topbar height
$topbar-height: (
  null: pixel(76),
  $tablet_width: pixel(136),
);

// Text line-height
$lh-small     : 1.1;
$lh-standard  : 1.5;
$lh-big       : 2;

//z-index
$index-accessibility  : 1000;
$index-modal          : 400;
$index-navigation     : 300;
$index-dropdown       : 200;
$index-overlay        : 100;

$font-text : 'Tahoma', 'Verdana', 'Helvetica', Arial, sans-serif;
$font-title : 'Anaya', 'Arial', cursive;

$fonts: (
    // A - Font weight
    regular: 400,
    bold: 700,
    // B - Font size
    h1: pixel(48),
    h1-desktop: pixel(76),
    h2: pixel(36),
    h2-desktop: pixel(66),
    h3: pixel(32),
    h3-desktop: pixel(48),
    h4: pixel(24),
    h4-desktop: pixel(32),
    h5: pixel(20),
    h5-desktop: pixel(24),
    h6: pixel(18),
    h6-desktop: pixel(20),
    text: 1rem,
    text-desktop: 1rem,
    small: pixel(14),
    small-desktop: pixel(14),
);
// Responsive spacing
// Reference - wrapper padding
$horizontal-padding-regular: (
  null: pixel(16),
  $tiny_width: pixel(16),
  $mobile_width: pixel(24),
  $tablet_width: pixel(48),
  $desktop_width: pixel(72),
);

  $horizontal-padding-small: (
    null: 2rem,
    $tiny_width: 2rem,
    $mobile_width: 3rem,
    $tablet_width: 5rem,
    $desktop_width: 6rem,
  );

$vertical-padding-regular: (
  null: pixel(20),
  $mobile_width: pixel(24),
  $desktop_width: pixel(32),
);

  $vertical-padding-small: (
    null: pixel(16),
    $tiny_width: pixel(16),
    $mobile_width: pixel(24),
    $tablet_width: pixel(32),
    $desktop_width: pixel(36),
  );