/*
Theme Name: Anaya
Theme URI: https://ihaveagreen.fr
Author: I Have a Green
Author URI: https://ihaveagreen.fr
Description: Anaya
Version: 1.0
*/
/*
Adding print support. The print styles are based on the the great work of
Andreas Hecht in https://www.jotform.com/blog/css-perfect-print-stylesheet-98272/.
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Margins
# Typography
# Page breaks
# Links
# Visibility
--------------------------------------------------------------*/
@media print {
  nav,
  #topbar,
  #footer {
    display: none;
  }
}
