/*
Theme Name: Anaya
Theme URI: https://ihaveagreen.fr
Author: I Have a Green
Author URI: https://ihaveagreen.fr
Description: Anaya
Version: 1.0
*/
/* Normalize */
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/*

Custom Mixins

File structure :
------------------
1 - Responsive spacing
  1.1 - spacing()
  1.2 - gutter()
  1.3 - Pixel -> Rem
------------------
2 - Font settings
  2.1 - Font()
  2.2 font-weight()
  2.3 - font-size()
------------------
3 - Link
  3.1 - Link default
  3.2 - Link underline
  3.3 - Button
------------------
4 - Icon

*/
/* 1 - Responsive spacing
--------------------------*/
/* 1.3 - Pixel -> Rem
 * Function to convert px value into rem
 * Source : https://www.choosepizzi.net/sass-mixin-for-convert-px-to-rem/
 * The default font size for html is 16px
 */
/* 2 - Font settings
--------------------------*/
/* 4 - Icon
--------------------------*/
/* Font Face Rules 

 Fonts used :
 
 01 - Inter : Open Source Fonts [@source : https://github.com/rsms/inter/]
     1.1 : Inter Variable
     1.2 : Inter Regular (fallback)
     1.3 : Inter Bold (fallback)
 */
@font-face {
  font-family: 'Anaya';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./font/Anaya.otf") format("opentype");
}

/*

File Summary : 

01 - Accessibility
02 - Font-setting
03 - Responsive class
04 - Color class
05 - Background class
06 - Reset classes

*/
*:focus-visible {
  outline: none;
}

.skip-link {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.skip-link:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 0.5em;
  top: 0.5em;
  line-height: normal;
  padding: 1em 1.5em 1em;
  text-decoration: none;
  width: unset;
  z-index: 1000;
  /* Above WP toolbar. */
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 0px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 0px;
}

html {
  scroll-behavior: smooth;
  font-size: 100%;
}

body {
  font-weight: 400;
  font-size: 1rem;
  color: #000;
  background: #fff;
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Tahoma", "Verdana", "Helvetica", Arial, sans-serif;
}

@media screen and (min-width: 72.5rem) {
  body {
    font-size: 1rem;
  }
}

.body-like {
  font-weight: 400;
  font-size: 1rem;
  font-family: "Tahoma", "Verdana", "Helvetica", Arial, sans-serif;
  font-style: normal;
  display: block;
  line-height: 1.5;
}

@media screen and (min-width: 72.5rem) {
  .body-like {
    font-size: 1rem;
  }
}

summary {
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  outline: 0;
  cursor: pointer;
}

h1,
.h1-like {
  font-weight: 400;
  font-size: 3rem;
}

@media screen and (min-width: 72.5rem) {
  h1,
  .h1-like {
    font-size: 4.75rem;
  }
}

h2,
.h2-like {
  font-weight: 400;
  font-size: 2.25rem;
}

@media screen and (min-width: 72.5rem) {
  h2,
  .h2-like {
    font-size: 4.125rem;
  }
}

h3,
.h3-like {
  font-weight: 400;
  font-size: 2rem;
}

@media screen and (min-width: 72.5rem) {
  h3,
  .h3-like {
    font-size: 3rem;
  }
}

h4,
.h4-like {
  font-weight: 400;
  font-size: 1.5rem;
}

@media screen and (min-width: 72.5rem) {
  h4,
  .h4-like {
    font-size: 2rem;
  }
}

h5,
.h5-like {
  font-weight: 400;
  font-size: 1.25rem;
}

@media screen and (min-width: 72.5rem) {
  h5,
  .h5-like {
    font-size: 1.5rem;
  }
}

h6,
.h6-like {
  font-weight: 400;
  font-size: 1.125rem;
}

@media screen and (min-width: 72.5rem) {
  h6,
  .h6-like {
    font-size: 1.25rem;
  }
}

b,
strong,
.bold {
  font-weight: 700;
}

h1,
.h1-like,
h2,
.h2-like,
h3,
.h3-like,
h4,
.h4-like,
h5,
.h5-like,
h6,
.h6-like {
  padding: 0;
  line-height: 1.1;
  font-family: "Anaya", "Arial", cursive;
  color: #7F8A58;
}

.font-text {
  font-family: "Tahoma", "Verdana", "Helvetica", Arial, sans-serif;
}

.font-title {
  font-family: "Anaya", "Arial", cursive;
}

.no-margin {
  margin: 0;
}

p {
  font-size: inherit;
  margin: 0 0 1rem 0;
}

.small-text {
  font-size: 0.875rem;
}

@media screen and (max-width: 20rem) {
  .tiny-hidden {
    visibility: hidden;
    display: none;
  }
}

@media screen and (max-width: 37.5rem) {
  .mobile-hidden {
    visibility: hidden;
    display: none;
  }
}

@media screen and (min-width: 20rem) and (max-width: 37.5rem) {
  .mobile-xl-hidden {
    visibility: hidden;
    display: none;
  }
}

@media screen and (min-width: 37.5rem) and (max-width: 72.5rem) {
  .tablet-hidden {
    visibility: hidden;
    display: none;
  }
}

@media screen and (min-width: 72.5rem) and (max-width: 85rem) {
  .desktop-hidden {
    visibility: hidden;
    display: none;
  }
}

@media screen and (min-width: 85rem) {
  .huge-hidden {
    visibility: hidden;
    display: none;
  }
}

.white {
  color: #fff;
}

.gray-light {
  color: #F2F3EE;
}

.gray-medium {
  color: #707070;
}

.gray-dark {
  color: #323330;
}

.black {
  color: #000;
}

.green {
  color: #7F8A58;
}

.green-medium {
  color: #D7DBCB;
}

.green-light {
  color: #F2F3EE;
}

/*
.white-bg {        background-color: $white;}
.gray-light-bg {   background-color: $gray-light;}
.gray-medium-bg {  background-color: $gray-medium;}
.gray-dark-bg {    background-color: $gray-dark;}
.black-bg {        background-color: $black;}
.primary-bg {      background-color: $color-primary;}
.secondary-bg {    background-color: $color-secondary;}
*/
.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.underline {
  text-decoration: underline;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: 700;
}

button.reset-style {
  backface-visibility: hidden;
  background: transparent;
  border: solid 1px transparent;
  box-sizing: border-box;
  outline: none;
  -webkit-appearance: none;
  outline-offset: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
  text-align: center;
  transition: all .2s;
}

button.reset-style > * {
  display: block;
  margin: 0 auto 0.5em auto;
  transition: all .2s;
}

button.reset-style > *:last-child {
  margin: 0 auto;
}

button.reset-style:hover, button.reset-style:focus {
  color: #fff;
  background: #7F8A58;
}

button.reset-style:hover > img,
button.reset-style:hover picture, button.reset-style:focus > img,
button.reset-style:focus picture {
  filter: saturate(0) brightness(2);
}

button.reset-style:active {
  color: #fff;
  background: #10709c;
}

button.reset-style:active > img,
button.reset-style:active picture {
  filter: saturate(0) brightness(2);
}

ul.reset,
ul.reset li {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

.wooac-popup {
  max-width: 500px !important;
}

.woocommerce-cart table.cart img,
.woocommerce-checkout table.cart img {
  width: 100px !important;
}

@media print {
  header#masthead {
    display: none;
  }
  .screen-reader-text {
    display: none;
  }
  footer#footer {
    display: none;
  }
}

/* 4 - Link
------------------ */
.link-default {
  color: #7F8A58;
  transition: .2s all;
  cursor: pointer;
}

.link-default:link, .link-default:visited {
  color: #7F8A58;
}

.link-default:hover, .link-default:focus, .link-default[focus-within] {
  color: #fff;
  background-color: #10709c;
}

.link-default:hover, .link-default:focus, .link-default:focus-within {
  color: #fff;
  background-color: #10709c;
}

.link-default:focus, .link-default[focus-within] {
  outline-color: #000;
}

.link-default:focus, .link-default:focus-within {
  outline-color: #000;
}

.link-default .img-in-link {
  transition: .2s opacity;
  opacity: 1;
}

.link-default:focus-visible {
  background-color: transparent;
  outline-color: #000;
}

.link-default:disabled {
  color: #707070;
  background-color: #F2F3EE;
}

.link-default:active {
  color: #10709c;
}

.link-discrete {
  color: inherit;
  text-decoration: none;
  transition: .2s all;
  cursor: pointer;
}

.link-discrete:link, .link-discrete:visited {
  color: inherit;
}

.link-discrete:hover, .link-discrete:focus {
  text-decoration: underline;
}

.link-discrete .img-in-link {
  transition: .2s opacity;
  opacity: 1;
}

.link-discrete:focus-visible {
  background-color: transparent;
  outline-color: #000;
}

.link-discrete:disabled {
  color: #707070;
  background-color: #F2F3EE;
}

.link-discrete:hover {
  color: #7F8A58;
}

.link-discrete:hover .img-in-link {
  opacity: 0.5;
}

.link-discrete:active {
  color: #10709c;
}

.link-color {
  text-decoration: none;
  transition: .2s all;
  cursor: pointer;
}

.link-color .img-in-link {
  transition: .2s opacity;
  opacity: 1;
}

.link-color:focus-visible {
  background-color: transparent;
  outline-color: #000;
}

.link-color:disabled {
  color: #707070;
  background-color: #F2F3EE;
}

.link-color:link, .link-color:visited {
  color: #7F8A58;
}

.link-color * {
  transition: all .2s;
}

.link-color:hover, .link-color:focus, .link-color[focus-within] {
  color: #10709c;
  text-decoration: underline;
}

.link-color:hover, .link-color:focus, .link-color:focus-within {
  color: #10709c;
  text-decoration: underline;
}

.link-color:hover *, .link-color:focus *, .link-color[focus-within] * {
  color: #10709c;
}

.link-color:hover *, .link-color:focus *, .link-color:focus-within * {
  color: #10709c;
}

.link-color:active {
  color: #000;
  text-decoration: underline;
}

.link-color:active * {
  color: #000;
}

.link-color:active {
  color: #10709c;
}

/*
// 4.4 - Link-black (no underline)
@mixin link-black {
  color: inherit;
  text-decoration: underline;
  &:link,
  &:visited {
      color: inherit;
  }
  @include link-base;
}

.link-black { @include link-black;}
*/
.icon-left img,
.icon-left picture {
  margin-right: 0.5em !important;
}

.icon-right img,
.icon-right picture {
  margin-left: 0.5em !important;
}

/*
// Icon cliquable - background transparent
@mixin link-icon {
  @include button-base;
  padding: 0.5em;
  line-height: 0;
  background-color: transparent;

  &:hover,
  &:focus,
  &:focus-within {
    color: $default-text-color;
    background-color: $color-primary;
  }
  
  &:active {
    color: $default-text-color;
    background-color: $color-secondary;
  }
}

.link-icon, button.link-icon { 
  @include link-icon;
}
*/
/* Button with background-color
@mixin button {

  @include button-base;
  display: inline-block;
  line-height: $lh-small;
  color: $white;
  background-color: $color-primary;
  border: 1px solid transparent;

  &:link,
  &:visited {
    color: $white;
  }

  &:hover,
  &:focus,
  &:focus-within {
    color: $color-primary;
    border-color: $color-primary;
    background-color: $white;
  }
  
  &:active {
    color: $default-text-color;
    background-color: $color-secondary;
    border-color: $color-secondary;
  }
}
*/
.button {
  text-decoration: none;
  color: #7F8A58;
  transition: .2s all;
  padding: 0.5em 1em;
  line-height: 1.1;
  border-radius: 2.2em;
  cursor: pointer;
  display: inline-block;
  line-height: 1.1;
  color: #fff;
  background-color: #7F8A58;
  border: 2px solid #7F8A58;
}

.button:disabled {
  color: #F2F3EE;
  background-color: #707070;
}

.button:link, .button:visited {
  color: #7F8A58;
}

.button > * {
  display: inline;
  vertical-align: middle;
  line-height: 1.5;
}

.button:link, .button:visited {
  color: #fff;
}

.button:hover, .button:focus, .button[focus-within] {
  color: #7F8A58;
  border-color: #7F8A58;
  background-color: #fff;
}

.button:hover, .button:focus, .button:focus-within {
  color: #7F8A58;
  border-color: #7F8A58;
  background-color: #fff;
}

.button:active {
  color: #000;
  background-color: #10709c;
  border-color: #10709c;
}

.button-disable {
  color: #7F8A58 !important;
  background-color: #fff !important;
  border-color: #7F8A58 !important;
}

.button-disable:hover {
  color: #fff !important;
  background-color: #7F8A58 !important;
  border-color: #7F8A58 !important;
}

/* Button : white background + green border */
.button-brd,
.button {
  text-decoration: none;
  color: #7F8A58;
  transition: .2s all;
  padding: 0.5em 1em;
  line-height: 1.1;
  border-radius: 2.2em;
  cursor: pointer;
  color: #7F8A58;
  background-color: #fff;
  border: 2px solid #7F8A58;
}

.button-brd:disabled,
.button:disabled {
  color: #F2F3EE;
  background-color: #707070;
}

.button-brd:link, .button-brd:visited,
.button:link,
.button:visited {
  color: #7F8A58;
}

.button-brd > *,
.button > * {
  display: inline;
  vertical-align: middle;
  line-height: 1.5;
}

.button-brd > img,
.button-brd picture,
.button > img,
.button picture {
  transition: inherit;
}

.button-brd:hover, .button-brd:focus, .button-brd[focus-within],
.button:hover,
.button:focus,
.button[focus-within] {
  background-color: #7F8A58;
  border-color: #7F8A58;
  color: #fff;
}

.button-brd:hover, .button-brd:focus, .button-brd:focus-within,
.button:hover,
.button:focus,
.button:focus-within {
  background-color: #7F8A58;
  border-color: #7F8A58;
  color: #fff;
}

.button-brd:hover > img,
.button-brd:hover picture, .button-brd:focus > img,
.button-brd:focus picture, .button-brd[focus-within] > img,
.button-brd[focus-within] picture,
.button:hover > img,
.button:hover picture,
.button:focus > img,
.button:focus picture,
.button[focus-within] > img,
.button[focus-within] picture {
  filter: saturate(0) brightness(2);
}

.button-brd:hover > img,
.button-brd:hover picture, .button-brd:focus > img,
.button-brd:focus picture, .button-brd:focus-within > img,
.button-brd:focus-within picture,
.button:hover > img,
.button:hover picture,
.button:focus > img,
.button:focus picture,
.button:focus-within > img,
.button:focus-within picture {
  filter: saturate(0) brightness(2);
}

.button-brd:active,
.button:active {
  color: #fff;
  background-color: #10709c;
  border-color: #10709c;
}

.button-brd:active > img,
.button-brd:active picture,
.button:active > img,
.button:active picture {
  filter: saturate(0) brightness(2);
}

.button-brd:disabled,
.button:disabled {
  border-color: #707070;
}

/*

Style content [#content]

File structure :
------------------
1 - Wrapper settings
  1.1 : Wrapper
  1.2 : Narrow-wrapper
------------------
2 - Vertical Rythm (padding) 
  2.1 : Vertical Padding Regular
  2.2 : Vertical Padding Small
------------------
3 - Link style
  3.1 - Link-default
  3.2 - Link Primary
  3.3 - Button primary
  3.4 - Button ghost
  3.5 - Button cta
  3.6 - Social Icons
------------------
4 - Entry Content
  4.1 - Entry-content global
  4.2 - No useless margin
  4.3 - Entry-content blockquote
  4.4 - Entry-content : List style (ul + ol) 
  4.5 - Entry-content : List variant (ol only)
-------------------
5 - Video Container
  5.1 - Video thumbnail size
  5.2 - Video icon
  5.3 - Interactivity

*/
/* 1 - Wrapper settings
------------------ */
.wrapper {
  margin: auto;
  width: 100%;
  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media screen and (min-width: 20rem) {
  .wrapper {
    padding-left: 1rem;
  }
}

@media screen and (min-width: 37.5rem) {
  .wrapper {
    padding-left: 1.5rem;
  }
}

@media screen and (min-width: 72.5rem) {
  .wrapper {
    padding-left: 3rem;
  }
}

@media screen and (min-width: 85rem) {
  .wrapper {
    padding-left: 4.5rem;
  }
}

@media screen and (min-width: 20rem) {
  .wrapper {
    padding-right: 1rem;
  }
}

@media screen and (min-width: 37.5rem) {
  .wrapper {
    padding-right: 1.5rem;
  }
}

@media screen and (min-width: 72.5rem) {
  .wrapper {
    padding-right: 3rem;
  }
}

@media screen and (min-width: 85rem) {
  .wrapper {
    padding-right: 4.5rem;
  }
}

.wrapper img,
.wrapper picture {
  max-width: 100%;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.wrapper-max {
  max-width: 67.5rem;
}

.wrapper-large {
  max-width: 56.25rem;
}

.wrapper-medium {
  max-width: 50rem;
}

.wrapper-max,
.wrapper-large,
.wrapper-medium {
  margin-left: auto;
  margin-right: auto;
}

/* 2 - Horizontal padding
------------------ */
.h-padding-regular {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media screen and (min-width: 20rem) {
  .h-padding-regular {
    padding-left: 1rem;
  }
}

@media screen and (min-width: 37.5rem) {
  .h-padding-regular {
    padding-left: 1.5rem;
  }
}

@media screen and (min-width: 72.5rem) {
  .h-padding-regular {
    padding-left: 3rem;
  }
}

@media screen and (min-width: 85rem) {
  .h-padding-regular {
    padding-left: 4.5rem;
  }
}

@media screen and (min-width: 20rem) {
  .h-padding-regular {
    padding-right: 1rem;
  }
}

@media screen and (min-width: 37.5rem) {
  .h-padding-regular {
    padding-right: 1.5rem;
  }
}

@media screen and (min-width: 72.5rem) {
  .h-padding-regular {
    padding-right: 3rem;
  }
}

@media screen and (min-width: 85rem) {
  .h-padding-regular {
    padding-right: 4.5rem;
  }
}

.h-padding-small {
  padding-left: 2rem;
  padding-right: 2rem;
}

@media screen and (min-width: 20rem) {
  .h-padding-small {
    padding-left: 2rem;
  }
}

@media screen and (min-width: 37.5rem) {
  .h-padding-small {
    padding-left: 3rem;
  }
}

@media screen and (min-width: 72.5rem) {
  .h-padding-small {
    padding-left: 5rem;
  }
}

@media screen and (min-width: 85rem) {
  .h-padding-small {
    padding-left: 6rem;
  }
}

@media screen and (min-width: 20rem) {
  .h-padding-small {
    padding-right: 2rem;
  }
}

@media screen and (min-width: 37.5rem) {
  .h-padding-small {
    padding-right: 3rem;
  }
}

@media screen and (min-width: 72.5rem) {
  .h-padding-small {
    padding-right: 5rem;
  }
}

@media screen and (min-width: 85rem) {
  .h-padding-small {
    padding-right: 6rem;
  }
}

/* 3 - Vertical padding
------------------ */
.v-padding-regular {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

@media screen and (min-width: 37.5rem) {
  .v-padding-regular {
    padding-top: 1.5rem;
  }
}

@media screen and (min-width: 85rem) {
  .v-padding-regular {
    padding-top: 2rem;
  }
}

@media screen and (min-width: 37.5rem) {
  .v-padding-regular {
    padding-bottom: 1.5rem;
  }
}

@media screen and (min-width: 85rem) {
  .v-padding-regular {
    padding-bottom: 2rem;
  }
}

.btm-padding-regular {
  padding-bottom: 1.25rem;
}

@media screen and (min-width: 37.5rem) {
  .btm-padding-regular {
    padding-bottom: 1.5rem;
  }
}

@media screen and (min-width: 85rem) {
  .btm-padding-regular {
    padding-bottom: 2rem;
  }
}

.top-padding-regular {
  padding-top: 1.25rem;
}

@media screen and (min-width: 37.5rem) {
  .top-padding-regular {
    padding-top: 1.5rem;
  }
}

@media screen and (min-width: 85rem) {
  .top-padding-regular {
    padding-top: 2rem;
  }
}

.v-padding-small {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media screen and (min-width: 20rem) {
  .v-padding-small {
    padding-top: 1rem;
  }
}

@media screen and (min-width: 37.5rem) {
  .v-padding-small {
    padding-top: 1.5rem;
  }
}

@media screen and (min-width: 72.5rem) {
  .v-padding-small {
    padding-top: 2rem;
  }
}

@media screen and (min-width: 85rem) {
  .v-padding-small {
    padding-top: 2.25rem;
  }
}

@media screen and (min-width: 20rem) {
  .v-padding-small {
    padding-bottom: 1rem;
  }
}

@media screen and (min-width: 37.5rem) {
  .v-padding-small {
    padding-bottom: 1.5rem;
  }
}

@media screen and (min-width: 72.5rem) {
  .v-padding-small {
    padding-bottom: 2rem;
  }
}

@media screen and (min-width: 85rem) {
  .v-padding-small {
    padding-bottom: 2.25rem;
  }
}

.btm-padding-small {
  padding-bottom: 1rem;
}

@media screen and (min-width: 20rem) {
  .btm-padding-small {
    padding-bottom: 1rem;
  }
}

@media screen and (min-width: 37.5rem) {
  .btm-padding-small {
    padding-bottom: 1.5rem;
  }
}

@media screen and (min-width: 72.5rem) {
  .btm-padding-small {
    padding-bottom: 2rem;
  }
}

@media screen and (min-width: 85rem) {
  .btm-padding-small {
    padding-bottom: 2.25rem;
  }
}

.top-padding-small {
  padding-top: 1rem;
}

@media screen and (min-width: 20rem) {
  .top-padding-small {
    padding-top: 1rem;
  }
}

@media screen and (min-width: 37.5rem) {
  .top-padding-small {
    padding-top: 1.5rem;
  }
}

@media screen and (min-width: 72.5rem) {
  .top-padding-small {
    padding-top: 2rem;
  }
}

@media screen and (min-width: 85rem) {
  .top-padding-small {
    padding-top: 2.25rem;
  }
}

/* 4 - Entry Content
----------------- */
.entry-content {
  line-height: 1.5;
}

.entry-content > *:last-child {
  margin-bottom: 0;
}

.entry-content > *:first-child {
  margin-top: 0;
}

.entry-content img, .entry-content picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

.entry-content ul, .entry-content ol {
  margin: 0;
}

.entry-content ul li, .entry-content ol li {
  margin-bottom: 0.5em;
  list-style: square inside;
}

.entry-content ul li:last-of-type, .entry-content ol li:last-of-type {
  margin-bottom: 0;
}

.entry-content ol li {
  list-style: decimal inside;
}

.entry-content a {
  color: #7F8A58;
  transition: .2s all;
  cursor: pointer;
}

.entry-content a:link, .entry-content a:visited {
  color: #7F8A58;
}

.entry-content a:hover, .entry-content a:focus, .entry-content a[focus-within] {
  color: #fff;
  background-color: #10709c;
}

.entry-content a:hover, .entry-content a:focus, .entry-content a:focus-within {
  color: #fff;
  background-color: #10709c;
}

.entry-content a:focus, .entry-content a[focus-within] {
  outline-color: #000;
}

.entry-content a:focus, .entry-content a:focus-within {
  outline-color: #000;
}

.entry-content a .img-in-link {
  transition: .2s opacity;
  opacity: 1;
}

.entry-content a:focus-visible {
  background-color: transparent;
  outline-color: #000;
}

.entry-content a:disabled {
  color: #707070;
  background-color: #F2F3EE;
}

.entry-content a:active {
  color: #10709c;
}

.entry-content blockquote {
  margin: 4rem auto;
  padding-left: 2rem;
  border-left: 2px solid #7F8A58;
}

.entry-content blockquote > *:last-child {
  margin-bottom: 0;
}

.entry-content blockquote > *:first-child {
  margin-top: 0;
}

.entry-content > *:last-child {
  margin-bottom: 0;
}

.entry-content > *:first-child {
  margin-top: 0;
}

.title-separator {
  display: block;
  margin: 1rem auto;
}

/*
Style Topbar [header.php]

File structure :
------------------
1 - Topbar Style
------------------
2 - Logo Style
    2.1 Logos sizes
------------------
3 - Menu style
    3.1 Reset list Style
    3.2 Menu Primary Style
    3.3 Links style
    3.4 Sub-menu style
    3.5 Sub-menu links style
------------------
4 - Social Media Style
------------------
5 - Searchbar Style
------------------
6 - Desktop Layout for Searchbar + Social Media
------------------
7 - Menu mobile
------------------
8 - Scroll  Behaviour 
------------------
9 - Content Top position

*/
#topbar {
  position: fixed;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 300;
  background: #fff;
  box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.15);
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

@media screen and (min-width: 37.5rem) {
  #topbar {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

@media screen and (min-width: 37.5rem) and (min-width: 72.5rem) {
  #topbar {
    padding-bottom: 3.25rem;
  }
}

#topbar #logo {
  text-decoration: none;
  line-height: 0;
  border: 1px solid transparent;
  transition: all .2s;
}

#topbar #logo:hover, #topbar #logo:focus, #topbar #logo:active {
  border-color: #7F8A58;
}

#topbar #logo > * {
  line-height: 1.1;
}

#topbar #logo img,
#topbar #logo picture {
  width: 7.5rem;
  height: auto;
}

@media screen and (min-width: 37.5rem) {
  #topbar #logo img,
  #topbar #logo picture {
    width: 8.75rem;
  }
}

@media screen and (min-width: 37.5rem) and (min-width: 72.5rem) {
  #topbar #logo img,
  #topbar #logo picture {
    width: 11.25rem;
  }
}

#topbar #logo > *,
#topbar #controls > * {
  margin-right: 0.5em;
}

#topbar #logo > *:last-child,
#topbar #controls > *:last-child {
  margin-right: 0;
}

#topbar #controls img {
  display: inline-block;
  vertical-align: middle;
}

#topbar #phone-tab {
  position: fixed;
  padding: 0.5rem;
  bottom: 1rem;
  right: 1rem;
  box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 20rem) {
  #topbar #phone-tab {
    bottom: 1rem;
  }
}

@media screen and (min-width: 37.5rem) {
  #topbar #phone-tab {
    bottom: 1.5rem;
  }
}

@media screen and (min-width: 72.5rem) {
  #topbar #phone-tab {
    bottom: 3rem;
  }
}

@media screen and (min-width: 85rem) {
  #topbar #phone-tab {
    bottom: 4.5rem;
  }
}

@media screen and (min-width: 20rem) {
  #topbar #phone-tab {
    right: 1rem;
  }
}

@media screen and (min-width: 37.5rem) {
  #topbar #phone-tab {
    right: 1.5rem;
  }
}

@media screen and (min-width: 72.5rem) {
  #topbar #phone-tab {
    right: 3rem;
  }
}

@media screen and (min-width: 85rem) {
  #topbar #phone-tab {
    right: 4.5rem;
  }
}

@media screen and (max-width: 72.49rem) {
  #topbar #menu {
    box-shadow: inset 0px 3px 25px rgba(0, 0, 0, 0.15);
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
    top: 3.75rem;
    left: 50%;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    transform: translate(50%, 0%);
    opacity: 0;
    margin: 0;
    text-align: center;
    background: #F2F3EE;
    transition: transform 0.4s, opacity 0.4s;
    color: #7F8A58;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    /* Greenish background
            &::after {
                position: fixed;
                content:"";
                top:0;
                left: 0;
                background: $gray-light;
                width: 100%;
                height: 100%;
                z-index: -1;
            }
            */
  }
  #topbar #menu > * {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-sizing: inherit;
  }
  #topbar #menu > *:first-child {
    margin-top: 2rem;
  }
  #topbar #menu > *:last-child {
    margin-bottom: 6rem;
  }
}

@media screen and (max-width: 72.49rem) and (min-width: 37.5rem) {
  #topbar #menu {
    top: 4.6875rem;
  }
}

@media screen and (max-width: 72.49rem) {
  #topbar #menu:focus, #topbar #menu.menu-open {
    opacity: 1;
    transform: translate(-50%, 0%);
  }
  #topbar #menu > .button-brd {
    display: inline-block;
    margin-bottom: 2.5rem;
  }
}

#topbar #menu ul.primary {
  list-style: none;
  padding: 0;
}

#topbar #menu ul.primary a {
  display: inline-block;
}

@media screen and (max-width: 72.49rem) {
  #topbar #menu ul.primary li {
    display: block;
    position: relative;
    padding-top: 2.5rem;
  }
  #topbar #menu ul.primary li:before {
    content: url(./image/flower.png);
    width: 100%;
    top: 0.75rem;
    left: 0;
    position: absolute;
  }
}

@media screen and (min-width: 72.5rem) {
  #topbar #menu ul.primary li {
    display: inline-block;
    margin-right: 2.5rem;
  }
  #topbar #menu ul.primary li:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 72.5rem) and (min-width: 85rem) {
  #topbar #menu ul.primary li {
    margin-right: 3.5rem;
  }
  #topbar #menu ul.primary li:last-child {
    margin-right: 0;
  }
}

#topbar #menu li > a,
#topbar #menu .link {
  font-size: 1.25rem;
  text-transform: uppercase;
  color: #707070;
  text-decoration: none;
  line-height: 1.1;
  position: relative;
}

#topbar #menu li > a:hover,
#topbar #menu .link:hover {
  color: #7F8A58;
}

#topbar #menu li > a:hover .img-in-link,
#topbar #menu .link:hover .img-in-link {
  opacity: 0.5;
}

#topbar #menu li > a:active,
#topbar #menu .link:active {
  color: #10709c;
}

#topbar #menu li > a:link, #topbar #menu li > a:visited,
#topbar #menu .link:link,
#topbar #menu .link:visited {
  color: #707070;
}

#topbar #menu li > a:after,
#topbar #menu .link:after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: -0.15em;
  left: unset;
  right: 0;
  color: inherit;
  background: currentColor;
  transition: .2s;
}

#topbar #menu li > a:hover:after, #topbar #menu li > a:focus:after, #topbar #menu li > a:active:after,
#topbar #menu .link:hover:after,
#topbar #menu .link:focus:after,
#topbar #menu .link:active:after {
  width: 100%;
  left: 0;
  right: unset;
}

@media screen and (min-width: 72.5rem) {
  #topbar #menu li > a,
  #topbar #menu .link {
    font-size: 1rem;
  }
}

#topbar #menu .current-menu-item > a,
#topbar #menu .current-menu-ancestor > a {
  color: #7F8A58;
}

#topbar #menu .current-menu-item > a:after,
#topbar #menu .current-menu-ancestor > a:after {
  width: 100%;
}

#topbar ul.shop {
  display: none;
}

@media screen and (min-width: 72.5rem) {
  #topbar ul.shop {
    position: fixed;
    top: 5rem;
    left: 0;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    box-sizing: border-box;
    background-color: #D7DBCB;
    padding: 0;
  }
  #topbar ul.shop li {
    list-style: none;
    width: auto;
    text-align: center;
    padding: 0.5rem;
    flex: 1 1 auto;
    color: #fff;
    box-sizing: border-box;
    border-right: 1px solid #fff;
  }
  #topbar ul.shop li:last-child {
    border-right: none;
  }
  #topbar ul.shop a {
    text-decoration: none;
    color: #707070;
  }
  #topbar ul.shop a:hover {
    color: #323330;
  }
}

#content {
  padding-top: 4.75rem;
}

@media screen and (min-width: 72.5rem) {
  #content {
    padding-top: 8.5rem;
  }
}

#topbar .link-discrete {
  position: relative;
}

#topbar .link-discrete img {
  width: 32px;
  height: 32px;
}

#topbar .link-discrete #countCart {
  font-size: .8em;
  color: #5B6337;
  padding-left: .5em;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*

Style Footer [footer.php]

*/
/*1 - Footer layout
------------------ */
#footer {
  background-color: #F2F3EE;
  border-top: 1px solid #000;
  color: #707070;
}

#footer #footer-layout {
  display: grid;
  grid-gap: 1rem;
  grid-auto-columns: 1fr;
  grid-auto-rows: minmax(auto, 1fr);
  grid-template: "logo" "content" "social" "menu";
}

@media screen and (min-width: 37.5rem) {
  #footer #footer-layout {
    grid-auto-columns: 1fr 1fr;
    grid-template: "logo      content" "social    content" ".         menu";
  }
}

@media screen and (min-width: 37.5rem) and (min-width: 72.5rem) {
  #footer #footer-layout {
    grid-auto-columns: 1fr 2rem 1fr 2rem 1fr;
    grid-template: "content  .  logo   .  menu" "content  .  social .  menu";
  }
}

#footer ul, #footer li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#footer #footer-logo {
  grid-area: logo;
  line-height: 0;
  border: 1px solid transparent;
  transition: all .2s;
}

#footer #footer-logo:hover, #footer #footer-logo:focus, #footer #footer-logo:active {
  border-color: #7F8A58;
}

#footer #footer-logo > * {
  line-height: 1.1;
}

#footer #footer-logo img,
#footer #footer-logo picture {
  width: 5rem;
  height: auto;
  margin: auto;
}

@media screen and (min-width: 37.5rem) {
  #footer #footer-logo img,
  #footer #footer-logo picture {
    width: 7.5rem;
  }
}

@media screen and (min-width: 37.5rem) and (min-width: 72.5rem) {
  #footer #footer-logo img,
  #footer #footer-logo picture {
    width: 9.375rem;
  }
}

#footer #footer-logo .h1-like {
  display: block;
}

#footer #footer-content {
  grid-area: content;
}

#footer #footer-social {
  grid-area: social;
}

#footer #footer-social li {
  display: inline-block;
  margin-right: 1rem;
}

#footer #footer-social li:last-child {
  margin-right: 0;
}

#footer #footer-menu {
  grid-area: menu;
}

#footer #footer-menu a {
  color: inherit;
  text-decoration: none;
  transition: .2s all;
  cursor: pointer;
}

#footer #footer-menu a:link, #footer #footer-menu a:visited {
  color: inherit;
}

#footer #footer-menu a:hover, #footer #footer-menu a:focus {
  text-decoration: underline;
}

#footer #footer-menu a .img-in-link {
  transition: .2s opacity;
  opacity: 1;
}

#footer #footer-menu a:focus-visible {
  background-color: transparent;
  outline-color: #000;
}

#footer #footer-menu a:disabled {
  color: #707070;
  background-color: #F2F3EE;
}

#footer #footer-menu a:hover {
  color: #7F8A58;
}

#footer #footer-menu a:hover .img-in-link {
  opacity: 0.5;
}

#footer #footer-menu a:active {
  color: #10709c;
}

/* Form stylesheet
*
* Exclude from style-editor.scss : Does not interfere with Wordpress Editor
*
*/
/*

Style Form components
! This style doesn't apply to Worpess Admin (see style-editor.scss) !

File structure :
------------------
1 - Form Layout
------------------
2 - Input Style
    2.1 - Submit
    2.2 - Checkbox (RGPD)
    2.3 - Message de validation

*/
/*
form {
    width: 100%;
    max-width: pixel(600);
    // @include spacing(padding, $wrapper-padding);
    grid-gap: 1rem;
    margin: auto;
    display: grid;
    >#ResponseAnchor {
        display: block;
        text-align: center;
    }
    >label {
        margin-top: 1.5rem;
    }
}

// 2 - Input Style
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    @include font(h6, regular);
    background-color: $gray-light;
    outline: none;
    border: 2px solid transparent;
    box-shadow: none;
    border-radius: 4px;
    padding: 0.5em;
    width: 100%;
    transition: all .2s;
    &::placeholder {
        color: $gray-dark;
        opacity: 0.5;
        transition: all .2s;
    }
    &:not(:placeholder-shown) {
        background-color: $white;
        &:invalid {
            color: $red;
            //border-color: $red;
        }
        /*
        &:not(:invalid) {
            color: $green;
            border-color: $green;
        }
        
    }
    
    &:invalid {
        &:not(:focus),
        &:not(:placeholder)  {
            color: $red;
            border-color: $red;
        }
    }
    
    &:hover {
        border-color: darken($color-primary, 20);
    }
    &:focus {
        background-color: $white;
        color: $color-primary;
        border: 2px solid $gray-light;
        border-color: $color-primary;
        &::placeholder {
            opacity: 0.25;
        }
    }
}

// 2.1 - Submit
input[type="submit"] {
    margin-top: 2rem;
    @include button;
    border: none;
    outline: none;
    border: none;
    box-shadow: none;
    margin-left: auto;
    margin-right: auto;
}

// 2.2 - Checkbox (RGPD)
.checkbox {
    display: flex;
    flex-flow: row nowrap;
    justify-items: flex-start;
    align-items: flex-start;
    margin-top: 2rem;
    >label {
        margin-top: 0;
        margin-left: 2rem;
    }
}

// 2.3 - Message de validation
#ResponseAnchor {
    // Default state : input button is visible
    * {
        opacity: 1;
        transition: all .2s;
    }
    #ResponseMessage {
        opacity: 0;
    }
    // Message has been sent : #responseMessage is visible
    &.messageSent {
        * {
            opacity: 0;
        }
        #ResponseMessage {
            opacity: 1;
            transition-delay: 0.5s;
        }
    }
}
*/
.select select {
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  line-height: 1.1;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
  color: #323330;
  z-index: 10;
}

.select select option {
  color: #7F8A58;
  background-color: #F2F3EE;
}

.select select::-ms-expand {
  display: none;
}

.select {
  box-sizing: border-box;
  display: grid;
  align-items: center;
  grid-template-areas: "select";
  width: 100%;
  max-width: 25ch;
  border: 2px solid #7F8A58;
  border-radius: 4px;
  padding: 0.5em;
  cursor: pointer;
  line-height: 1.1;
  font-size: 1rem;
  background-color: #fff;
}

.select select,
.select:after {
  grid-area: select;
}

.select::after {
  content: "";
  justify-self: end;
  width: 0.8em;
  height: 0.5em;
  background-color: #707070;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  z-index: 5;
}

/*

Green Logo in background

*/
.bg-pattern {
  background-repeat: no-repeat;
  background-size: 7.5rem;
}

@media screen and (min-width: 37.5rem) {
  .bg-pattern {
    background-size: 15rem;
  }
}

.bg-pattern.bg-left {
  background-image: url(./image/background-left.svg);
  background-position: 0 0;
}

.bg-pattern.bg-right {
  background-image: url(./image/background-right.svg);
  background-position: 100% 0;
}

/*

Woocommerce custom style

*/
.woocommerce #primary,
.woocommerce #sidebar {
  margin: auto;
  width: 100%;
  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

@media screen and (min-width: 20rem) {
  .woocommerce #primary,
  .woocommerce #sidebar {
    padding-left: 1rem;
  }
}

@media screen and (min-width: 37.5rem) {
  .woocommerce #primary,
  .woocommerce #sidebar {
    padding-left: 1.5rem;
  }
}

@media screen and (min-width: 72.5rem) {
  .woocommerce #primary,
  .woocommerce #sidebar {
    padding-left: 3rem;
  }
}

@media screen and (min-width: 85rem) {
  .woocommerce #primary,
  .woocommerce #sidebar {
    padding-left: 4.5rem;
  }
}

@media screen and (min-width: 20rem) {
  .woocommerce #primary,
  .woocommerce #sidebar {
    padding-right: 1rem;
  }
}

@media screen and (min-width: 37.5rem) {
  .woocommerce #primary,
  .woocommerce #sidebar {
    padding-right: 1.5rem;
  }
}

@media screen and (min-width: 72.5rem) {
  .woocommerce #primary,
  .woocommerce #sidebar {
    padding-right: 3rem;
  }
}

@media screen and (min-width: 85rem) {
  .woocommerce #primary,
  .woocommerce #sidebar {
    padding-right: 4.5rem;
  }
}

@media screen and (min-width: 37.5rem) {
  .woocommerce #primary,
  .woocommerce #sidebar {
    padding-top: 1.5rem;
  }
}

@media screen and (min-width: 85rem) {
  .woocommerce #primary,
  .woocommerce #sidebar {
    padding-top: 2rem;
  }
}

@media screen and (min-width: 37.5rem) {
  .woocommerce #primary,
  .woocommerce #sidebar {
    padding-bottom: 1.5rem;
  }
}

@media screen and (min-width: 85rem) {
  .woocommerce #primary,
  .woocommerce #sidebar {
    padding-bottom: 2rem;
  }
}

.woocommerce #primary > *,
.woocommerce #sidebar > * {
  max-width: 67.5rem;
  margin-left: auto;
  margin-right: auto;
}

.woocommerce #sidebar {
  background: #e0e0e0;
  box-sizing: border-box;
}

.woocommerce #sidebar ul {
  list-style: none;
  padding: 0;
}

.woocommerce #sidebar ul[role=navigation] {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-between;
}

.woocommerce #sidebar ul[role=navigation] h2 {
  margin-top: 0;
}

.woocommerce #sidebar a {
  color: #7F8A58;
  transition: .2s all;
  cursor: pointer;
  text-decoration: none;
}

.woocommerce #sidebar a:link, .woocommerce #sidebar a:visited {
  color: #7F8A58;
}

.woocommerce #sidebar a:hover, .woocommerce #sidebar a:focus, .woocommerce #sidebar a[focus-within] {
  color: #fff;
  background-color: #10709c;
}

.woocommerce #sidebar a:hover, .woocommerce #sidebar a:focus, .woocommerce #sidebar a:focus-within {
  color: #fff;
  background-color: #10709c;
}

.woocommerce #sidebar a:focus, .woocommerce #sidebar a[focus-within] {
  outline-color: #000;
}

.woocommerce #sidebar a:focus, .woocommerce #sidebar a:focus-within {
  outline-color: #000;
}

.woocommerce #sidebar a .img-in-link {
  transition: .2s opacity;
  opacity: 1;
}

.woocommerce #sidebar a:focus-visible {
  background-color: transparent;
  outline-color: #000;
}

.woocommerce #sidebar a:disabled {
  color: #707070;
  background-color: #F2F3EE;
}

.woocommerce #sidebar a:active {
  color: #10709c;
}

.woocommerce .button,
#wp-content .woocommerce .button {
  text-decoration: none;
  color: #7F8A58;
  transition: .2s all;
  padding: 0.5em 1em;
  line-height: 1.1;
  border-radius: 2.2em;
  cursor: pointer;
  display: inline-block;
  line-height: 1.1;
  color: #fff;
  background-color: #7F8A58;
  border: 2px solid #7F8A58;
}

.woocommerce .button:disabled,
#wp-content .woocommerce .button:disabled {
  color: #F2F3EE;
  background-color: #707070;
}

.woocommerce .button:link, .woocommerce .button:visited,
#wp-content .woocommerce .button:link,
#wp-content .woocommerce .button:visited {
  color: #7F8A58;
}

.woocommerce .button > *,
#wp-content .woocommerce .button > * {
  display: inline;
  vertical-align: middle;
  line-height: 1.5;
}

.woocommerce .button:link, .woocommerce .button:visited,
#wp-content .woocommerce .button:link,
#wp-content .woocommerce .button:visited {
  color: #fff;
}

.woocommerce .button:hover, .woocommerce .button:focus, .woocommerce .button[focus-within],
#wp-content .woocommerce .button:hover,
#wp-content .woocommerce .button:focus,
#wp-content .woocommerce .button[focus-within] {
  color: #7F8A58;
  border-color: #7F8A58;
  background-color: #fff;
}

.woocommerce .button:hover, .woocommerce .button:focus, .woocommerce .button:focus-within,
#wp-content .woocommerce .button:hover,
#wp-content .woocommerce .button:focus,
#wp-content .woocommerce .button:focus-within {
  color: #7F8A58;
  border-color: #7F8A58;
  background-color: #fff;
}

.woocommerce .button:active,
#wp-content .woocommerce .button:active {
  color: #000;
  background-color: #10709c;
  border-color: #10709c;
}

.woocommerce #primary a.added_to_cart,
.woocommerce #primary a.wc-forward {
  text-decoration: none;
  transition: .2s all;
  cursor: pointer;
}

.woocommerce #primary a.added_to_cart .img-in-link,
.woocommerce #primary a.wc-forward .img-in-link {
  transition: .2s opacity;
  opacity: 1;
}

.woocommerce #primary a.added_to_cart:focus-visible,
.woocommerce #primary a.wc-forward:focus-visible {
  background-color: transparent;
  outline-color: #000;
}

.woocommerce #primary a.added_to_cart:disabled,
.woocommerce #primary a.wc-forward:disabled {
  color: #707070;
  background-color: #F2F3EE;
}

.woocommerce #primary a.added_to_cart:link, .woocommerce #primary a.added_to_cart:visited,
.woocommerce #primary a.wc-forward:link,
.woocommerce #primary a.wc-forward:visited {
  color: #7F8A58;
}

.woocommerce #primary a.added_to_cart *,
.woocommerce #primary a.wc-forward * {
  transition: all .2s;
}

.woocommerce #primary a.added_to_cart:hover, .woocommerce #primary a.added_to_cart:focus, .woocommerce #primary a.added_to_cart[focus-within],
.woocommerce #primary a.wc-forward:hover,
.woocommerce #primary a.wc-forward:focus,
.woocommerce #primary a.wc-forward[focus-within] {
  color: #10709c;
  text-decoration: underline;
}

.woocommerce #primary a.added_to_cart:hover, .woocommerce #primary a.added_to_cart:focus, .woocommerce #primary a.added_to_cart:focus-within,
.woocommerce #primary a.wc-forward:hover,
.woocommerce #primary a.wc-forward:focus,
.woocommerce #primary a.wc-forward:focus-within {
  color: #10709c;
  text-decoration: underline;
}

.woocommerce #primary a.added_to_cart:hover *, .woocommerce #primary a.added_to_cart:focus *, .woocommerce #primary a.added_to_cart[focus-within] *,
.woocommerce #primary a.wc-forward:hover *,
.woocommerce #primary a.wc-forward:focus *,
.woocommerce #primary a.wc-forward[focus-within] * {
  color: #10709c;
}

.woocommerce #primary a.added_to_cart:hover *, .woocommerce #primary a.added_to_cart:focus *, .woocommerce #primary a.added_to_cart:focus-within *,
.woocommerce #primary a.wc-forward:hover *,
.woocommerce #primary a.wc-forward:focus *,
.woocommerce #primary a.wc-forward:focus-within * {
  color: #10709c;
}

.woocommerce #primary a.added_to_cart:active,
.woocommerce #primary a.wc-forward:active {
  color: #000;
  text-decoration: underline;
}

.woocommerce #primary a.added_to_cart:active *,
.woocommerce #primary a.wc-forward:active * {
  color: #000;
}

.woocommerce #primary a.added_to_cart:active,
.woocommerce #primary a.wc-forward:active {
  color: #10709c;
}

.wooac-image img {
  width: unset !important;
}

/*

Woocommerce Category Page (listing of the product)
@Design : https://xd.adobe.com/view/936d14e8-71c6-45fe-a916-5b21cd382a55-c63e/screen/4b5ffbd3-d0de-430a-b668-a91ea59c175e

*/
.woocommerce .products ul,
.woocommerce ul.products {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 20rem) {
  .woocommerce .products ul,
  .woocommerce ul.products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 20rem) and (min-width: 37.5rem) {
  .woocommerce .products ul,
  .woocommerce ul.products {
    grid-template-columns: repeat(4, 1fr);
  }
}

.woocommerce .products ul::after,
.woocommerce .products ul::before,
.woocommerce ul.products::after,
.woocommerce ul.products::before {
  grid-column: 1 / 2;
}

@media screen and (min-width: 20rem) {
  .woocommerce .products ul::after,
  .woocommerce .products ul::before,
  .woocommerce ul.products::after,
  .woocommerce ul.products::before {
    grid-column: 1 / 3;
  }
}

@media screen and (min-width: 20rem) and (min-width: 37.5rem) {
  .woocommerce .products ul::after,
  .woocommerce .products ul::before,
  .woocommerce ul.products::after,
  .woocommerce ul.products::before {
    grid-column: 1 / 5;
  }
}

.woocommerce .woocommerce-result-count,
.woocommerce .woocommerce-ordering {
  display: none;
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product,
.woocommerce ul.products[class*="columns-"] li.product {
  width: 100% !important;
  margin: 0;
  background: white;
  box-shadow: 0 0.5rem 1rem rgba(127, 138, 88, 0.5);
  display: flex;
  flex-direction: column;
}

.woocommerce ul.products li.product .woocommerce-loop-product__link > *,
.woocommerce-page ul.products li.product .woocommerce-loop-product__link > *,
.woocommerce ul.products[class*="columns-"] li.product .woocommerce-loop-product__link > * {
  display: block;
  padding: 0 0.5rem;
  box-sizing: border-box;
}

.woocommerce ul.products li.product .woocommerce-loop-product__link img,
.woocommerce-page ul.products li.product .woocommerce-loop-product__link img,
.woocommerce ul.products[class*="columns-"] li.product .woocommerce-loop-product__link img {
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  width: 100%;
  height: auto;
}

.woocommerce ul.products li.product .woocommerce-loop-product__link img + *,
.woocommerce-page ul.products li.product .woocommerce-loop-product__link img + *,
.woocommerce ul.products[class*="columns-"] li.product .woocommerce-loop-product__link img + * {
  margin-top: 1rem;
}

.woocommerce-loop-product__title {
  color: #7F8A58;
}

.woocommerce ul.products li.product .woocommerce-loop-category__title,
.woocommerce ul.products li.product .woocommerce-loop-product__title,
.woocommerce ul.products li.product h3 {
  font-size: 2rem;
}

@media screen and (min-width: 72.5rem) {
  .woocommerce ul.products li.product .woocommerce-loop-category__title,
  .woocommerce ul.products li.product .woocommerce-loop-product__title,
  .woocommerce ul.products li.product h3 {
    font-size: 3rem;
  }
}

.woocommerce ul.products li.product .button,
.woocommerce ul.products li.product .wc-forward {
  margin: 1rem auto;
}

.woocommerce ul.products li.product .button {
  text-align: center;
  text-decoration: none;
  color: #7F8A58;
  transition: .2s all;
  padding: 0.5em 1em;
  line-height: 1.1;
  border-radius: 2.2em;
  cursor: pointer;
  color: #7F8A58;
  background-color: #fff;
  border: 2px solid #7F8A58;
}

.woocommerce ul.products li.product .button:disabled {
  color: #F2F3EE;
  background-color: #707070;
}

.woocommerce ul.products li.product .button:link, .woocommerce ul.products li.product .button:visited {
  color: #7F8A58;
}

.woocommerce ul.products li.product .button > * {
  display: inline;
  vertical-align: middle;
  line-height: 1.5;
}

.woocommerce ul.products li.product .button > img,
.woocommerce ul.products li.product .button picture {
  transition: inherit;
}

.woocommerce ul.products li.product .button:hover, .woocommerce ul.products li.product .button:focus, .woocommerce ul.products li.product .button[focus-within] {
  background-color: #7F8A58;
  border-color: #7F8A58;
  color: #fff;
}

.woocommerce ul.products li.product .button:hover, .woocommerce ul.products li.product .button:focus, .woocommerce ul.products li.product .button:focus-within {
  background-color: #7F8A58;
  border-color: #7F8A58;
  color: #fff;
}

.woocommerce ul.products li.product .button:hover > img,
.woocommerce ul.products li.product .button:hover picture, .woocommerce ul.products li.product .button:focus > img,
.woocommerce ul.products li.product .button:focus picture, .woocommerce ul.products li.product .button[focus-within] > img,
.woocommerce ul.products li.product .button[focus-within] picture {
  filter: saturate(0) brightness(2);
}

.woocommerce ul.products li.product .button:hover > img,
.woocommerce ul.products li.product .button:hover picture, .woocommerce ul.products li.product .button:focus > img,
.woocommerce ul.products li.product .button:focus picture, .woocommerce ul.products li.product .button:focus-within > img,
.woocommerce ul.products li.product .button:focus-within picture {
  filter: saturate(0) brightness(2);
}

.woocommerce ul.products li.product .button:active {
  color: #fff;
  background-color: #10709c;
  border-color: #10709c;
}

.woocommerce ul.products li.product .button:active > img,
.woocommerce ul.products li.product .button:active picture {
  filter: saturate(0) brightness(2);
}

.woocommerce ul.products li.product .button:disabled {
  border-color: #707070;
}

@media screen and (max-width: 55rem) {
  .woocommerce ul.products li.product .button {
    font-size: 0.75rem;
  }
}

/*

Woocommerce Shop Page (listing of the categories)

*/
.woocommerce ul.products li.product .woocommerce-loop-category__title,
.woocommerce-page ul.products li.product .woocommerce-loop-category__title,
.woocommerce ul.products[class*="columns-"] li.product .woocommerce-loop-category__title {
  margin-top: 1rem;
  padding: 0 0.5rem;
  box-sizing: border-box;
}

.woocommerce ul.products li.product .woocommerce-loop-category__title .count,
.woocommerce-page ul.products li.product .woocommerce-loop-category__title .count,
.woocommerce ul.products[class*="columns-"] li.product .woocommerce-loop-category__title .count {
  /*font-family: $font-text;
        font-size: 1rem; 
        color: inherit;
        background-color: $brand-green-light;*/
  display: none;
}

/*

Woocommerce Single Product Page

*/
.woocommerce div.product form.cart > *,
.woocommerce div.product form.cart div.quantity {
  display: block;
  float: none;
  margin-bottom: 1rem;
}

.woocommerce div.product form.cart .button {
  text-decoration: none;
  color: #7F8A58;
  transition: .2s all;
  padding: 0.5em 1em;
  line-height: 1.1;
  border-radius: 2.2em;
  cursor: pointer;
  display: inline-block;
  line-height: 1.1;
  color: #fff;
  background-color: #7F8A58;
  border: 2px solid #7F8A58;
}

.woocommerce div.product form.cart .button:disabled {
  color: #F2F3EE;
  background-color: #707070;
}

.woocommerce div.product form.cart .button:link, .woocommerce div.product form.cart .button:visited {
  color: #7F8A58;
}

.woocommerce div.product form.cart .button > * {
  display: inline;
  vertical-align: middle;
  line-height: 1.5;
}

.woocommerce div.product form.cart .button:link, .woocommerce div.product form.cart .button:visited {
  color: #fff;
}

.woocommerce div.product form.cart .button:hover, .woocommerce div.product form.cart .button:focus, .woocommerce div.product form.cart .button[focus-within] {
  color: #7F8A58;
  border-color: #7F8A58;
  background-color: #fff;
}

.woocommerce div.product form.cart .button:hover, .woocommerce div.product form.cart .button:focus, .woocommerce div.product form.cart .button:focus-within {
  color: #7F8A58;
  border-color: #7F8A58;
  background-color: #fff;
}

.woocommerce div.product form.cart .button:active {
  color: #000;
  background-color: #10709c;
  border-color: #10709c;
}

.woocommerce .woocommerce-product-gallery__image:first-of-type {
  margin-bottom: 1rem;
}

.woocommerce .woocommerce-product-gallery__image:first-of-type a,
.woocommerce .woocommerce-product-gallery__image:first-of-type a:hover,
.woocommerce .woocommerce-product-gallery__image:first-of-type a > * {
  cursor: pointer !important;
}

.woocommerce div.product form.cart .variations tr {
  display: flex;
  flex-flow: column;
  margin-bottom: 2rem;
}

.woocommerce div.product form.cart .variations td {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

@media screen and (min-width: 20rem) {
  .woocommerce div.product form.cart .variations td {
    flex-flow: row wrap;
  }
}

/*
Custom Checkbox for Contenant

Structure :

<div class="term_option">
    <input>
    <label>
        Lorem ispum
        <img>
    </label>
</div>

*/
.container_term_option {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.term_option input[type="radio"] {
  opacity: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  margin: 0;
  display: contents;
}

.term_option label {
  background: #F2F3EE;
  border: 2px solid transparent;
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 400 !important;
  width: 100%;
  height: 100%;
  display: inline-block;
  cursor: pointer;
}

.term_option label .description {
  color: #5B6337;
  font-size: 0.8rem;
  line-height: normal;
}

.term_option label img,
.term_option label picture {
  width: 100%;
  max-width: 150px;
  height: auto;
  object-fit: cover;
  display: block;
}

.term_option input[type="radio"]:checked + label {
  border-color: #7F8A58;
}

.term_option:hover > label,
.term_option:focus > label,
.term_option[focus-within] > label {
  background: #F2F3EE;
}

.term_option:hover > label,
.term_option:focus > label,
.term_option:focus-within > label {
  background: #F2F3EE;
}

/*

Woocommerce Account PAge

*/
.woocommerce-account #wp-content .woocommerce-MyAccount-navigation {
  background: #e0e0e0;
  padding: 1rem;
  box-sizing: border-box;
}

.woocommerce-account #wp-content .woocommerce-MyAccount-navigation ul, .woocommerce-account #wp-content .woocommerce-MyAccount-navigation li {
  list-style: none;
  padding: 0;
}

.woocommerce-account #wp-content .woocommerce-MyAccount-navigation a {
  text-decoration: none;
}

.woocommerce-account #wp-content .woocommerce-MyAccount-content {
  padding: 0 1rem;
  box-sizing: border-box;
}

/*

Woocommerce Cart Page

*/
.cart-collaterals,
.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
  width: 100%;
  max-width: 100%;
  float: unset;
}

.cart-collaterals .checkout-button,
.woocommerce .cart-collaterals .cart_totals .checkout-button,
.woocommerce-page .cart-collaterals .cart_totals .checkout-button {
  float: right;
}

.woocommerce-shipping-calculator .shipping-calculator-form #calc_shipping_country {
  visibility: hidden;
}

.woocommerce-shipping-totals .woocommerce-shipping-destination {
  display: none !important;
}

.woocommerce-shipping-totals .shipping-calculator-button {
  display: inline !important;
}

.woocommerce-thankyou-order-details li {
  display: contents;
}

.woocommerce .woocommerce-input-wrapper input.input-text {
  border: solid 1px #666;
}

.woocommerce .form-row.woocommerce-validated .woocommerce-input-wrapper input.input-text {
  border-color: #7F8A58;
}

/*

Woocommerce Cart Page

*/
.woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-1,
.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-2 {
  width: 100%;
  max-width: 100%;
  float: unset;
}

.woocommerce .col2-set .col-1 .checkout-button,
.woocommerce-page .col2-set .col-1 .checkout-button,
.woocommerce .col2-set .col-2 .checkout-button,
.woocommerce-page .col2-set .col-2 .checkout-button {
  float: right;
}

#wp-content .woocommerce .woocommerce-shipping-totals .button {
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 20rem) {
  #wp-content .woocommerce .woocommerce-shipping-totals .button {
    font-size: 0.85rem;
    text-align: center;
  }
}

.woocommerce #ship-to-different-address-checkbox {
  display: none;
}

.woocommerce #shipping_country_field {
  display: none;
}

.woocommerce #message_ceremony_field {
  display: none;
}

/*

Woocommerce unnecessary parts are hidden in CSS

*/
.woocommerce #sidebar,
.single-product .wc-tabs,
.single-product #tab-title-additional_information,
.single-product .woocommerce-Tabs-panel,
.single-product .product_meta,
.single-product .related,
.woocommerce-breadcrumb,
.single-product .upsells {
  display: none !important;
}

/*

Gutenberg Core blocks

*/
#wp-content > *:not(.wp-block) {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 50rem;
  line-height: 1.5;
}

@media screen and (min-width: 20rem) {
  #wp-content > *:not(.wp-block) {
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 37.5rem) {
  #wp-content > *:not(.wp-block) {
    margin-bottom: 1.5rem;
  }
}

@media screen and (min-width: 72.5rem) {
  #wp-content > *:not(.wp-block) {
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 85rem) {
  #wp-content > *:not(.wp-block) {
    margin-bottom: 2.25rem;
  }
}

@media screen and (min-width: 20rem) {
  #wp-content > *:not(.wp-block) {
    padding-left: 1rem;
  }
}

@media screen and (min-width: 37.5rem) {
  #wp-content > *:not(.wp-block) {
    padding-left: 1.5rem;
  }
}

@media screen and (min-width: 72.5rem) {
  #wp-content > *:not(.wp-block) {
    padding-left: 3rem;
  }
}

@media screen and (min-width: 85rem) {
  #wp-content > *:not(.wp-block) {
    padding-left: 4.5rem;
  }
}

@media screen and (min-width: 20rem) {
  #wp-content > *:not(.wp-block) {
    padding-right: 1rem;
  }
}

@media screen and (min-width: 37.5rem) {
  #wp-content > *:not(.wp-block) {
    padding-right: 1.5rem;
  }
}

@media screen and (min-width: 72.5rem) {
  #wp-content > *:not(.wp-block) {
    padding-right: 3rem;
  }
}

@media screen and (min-width: 85rem) {
  #wp-content > *:not(.wp-block) {
    padding-right: 4.5rem;
  }
}

#wp-content > *:not(.wp-block) > *:last-child {
  margin-bottom: 0;
}

#wp-content > *:not(.wp-block) > *:first-child {
  margin-top: 0;
}

#wp-content > *:not(.wp-block) img, #wp-content > *:not(.wp-block) picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

#wp-content > *:not(.wp-block) ul, #wp-content > *:not(.wp-block) ol {
  margin: 0;
}

#wp-content > *:not(.wp-block) ul li, #wp-content > *:not(.wp-block) ol li {
  margin-bottom: 0.5em;
  list-style: square inside;
}

#wp-content > *:not(.wp-block) ul li:last-of-type, #wp-content > *:not(.wp-block) ol li:last-of-type {
  margin-bottom: 0;
}

#wp-content > *:not(.wp-block) ol li {
  list-style: decimal inside;
}

#wp-content > *:not(.wp-block) a {
  color: #7F8A58;
  transition: .2s all;
  cursor: pointer;
}

#wp-content > *:not(.wp-block) a:link, #wp-content > *:not(.wp-block) a:visited {
  color: #7F8A58;
}

#wp-content > *:not(.wp-block) a:hover, #wp-content > *:not(.wp-block) a:focus, #wp-content > *:not(.wp-block) a[focus-within] {
  color: #fff;
  background-color: #10709c;
}

#wp-content > *:not(.wp-block) a:hover, #wp-content > *:not(.wp-block) a:focus, #wp-content > *:not(.wp-block) a:focus-within {
  color: #fff;
  background-color: #10709c;
}

#wp-content > *:not(.wp-block) a:focus, #wp-content > *:not(.wp-block) a[focus-within] {
  outline-color: #000;
}

#wp-content > *:not(.wp-block) a:focus, #wp-content > *:not(.wp-block) a:focus-within {
  outline-color: #000;
}

#wp-content > *:not(.wp-block) a .img-in-link {
  transition: .2s opacity;
  opacity: 1;
}

#wp-content > *:not(.wp-block) a:focus-visible {
  background-color: transparent;
  outline-color: #000;
}

#wp-content > *:not(.wp-block) a:disabled {
  color: #707070;
  background-color: #F2F3EE;
}

#wp-content > *:not(.wp-block) a:active {
  color: #10709c;
}

#wp-content > *:not(.wp-block) blockquote {
  margin: 4rem auto;
  padding-left: 2rem;
  border-left: 2px solid #7F8A58;
}

#wp-content > *:not(.wp-block) blockquote > *:last-child {
  margin-bottom: 0;
}

#wp-content > *:not(.wp-block) blockquote > *:first-child {
  margin-top: 0;
}

#wp-content > *:not(.wp-block) > *:last-child {
  margin-bottom: 0;
}

#wp-content > *:not(.wp-block) > *:first-child {
  margin-top: 0;
}

#wp-content > *:first-child:not(.wp-block) {
  margin-top: 1rem;
}

@media screen and (min-width: 20rem) {
  #wp-content > *:first-child:not(.wp-block) {
    margin-top: 1rem;
  }
}

@media screen and (min-width: 37.5rem) {
  #wp-content > *:first-child:not(.wp-block) {
    margin-top: 1.5rem;
  }
}

@media screen and (min-width: 72.5rem) {
  #wp-content > *:first-child:not(.wp-block) {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 85rem) {
  #wp-content > *:first-child:not(.wp-block) {
    margin-top: 2.25rem;
  }
}

/*

Style Gutenberg Block Text [texte.php]

File structure :
------------------
1 - Bloc layout

*/
/*

Gutenberg Block "blk-text-anaya" [titre-texte-lien-image.php]

File structure :
------------------
1 - Bloc layout

*/
.blk-text-anaya {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  width: 100%;
  padding-top: 1.25rem;
  /*
    White Gradient on image (old design)
    .has-gradient {
        position: relative;
        &::after {
            // Mobile Style
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2rem;
            background: linear-gradient( rgba($white, 0), $white );

            // Desktop Style
            @media screen and (min-width: $mobile_width) {
                left: 0;
                top: 0;
                width: 2rem;
                height: 100%;
                background: linear-gradient( 90deg, $white, rgba($white, 0) );
            }
        }
    }

    @media screen and (min-width: $mobile_width) {

        // On desktop, gradient on right
        &.txt-right > .has-gradient::after {
            content: "";
            right: 0;
            left: unset;
            background: linear-gradient( 90deg, rgba($white, 0), $white );
        }
    }
    */
}

@media screen and (min-width: 37.5rem) {
  .blk-text-anaya {
    padding-top: 1.5rem;
  }
}

@media screen and (min-width: 85rem) {
  .blk-text-anaya {
    padding-top: 2rem;
  }
}

.blk-text-anaya .txt-container {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

@media screen and (min-width: 20rem) {
  .blk-text-anaya .txt-container {
    padding-left: 1rem;
  }
}

@media screen and (min-width: 37.5rem) {
  .blk-text-anaya .txt-container {
    padding-left: 1.5rem;
  }
}

@media screen and (min-width: 72.5rem) {
  .blk-text-anaya .txt-container {
    padding-left: 3rem;
  }
}

@media screen and (min-width: 85rem) {
  .blk-text-anaya .txt-container {
    padding-left: 4.5rem;
  }
}

@media screen and (min-width: 20rem) {
  .blk-text-anaya .txt-container {
    padding-right: 1rem;
  }
}

@media screen and (min-width: 37.5rem) {
  .blk-text-anaya .txt-container {
    padding-right: 1.5rem;
  }
}

@media screen and (min-width: 72.5rem) {
  .blk-text-anaya .txt-container {
    padding-right: 3rem;
  }
}

@media screen and (min-width: 85rem) {
  .blk-text-anaya .txt-container {
    padding-right: 4.5rem;
  }
}

@media screen and (min-width: 37.5rem) {
  .blk-text-anaya .txt-container {
    padding-top: 1.5rem;
  }
}

@media screen and (min-width: 85rem) {
  .blk-text-anaya .txt-container {
    padding-top: 2rem;
  }
}

@media screen and (min-width: 37.5rem) {
  .blk-text-anaya .txt-container {
    padding-bottom: 1.5rem;
  }
}

@media screen and (min-width: 85rem) {
  .blk-text-anaya .txt-container {
    padding-bottom: 2rem;
  }
}

.blk-text-anaya .title {
  margin: 0 0 0 0;
}

.blk-text-anaya .separator {
  margin: 1rem auto;
}

.blk-text-anaya .button-brd {
  display: inline-block;
  margin-top: 2rem;
}

.blk-text-anaya .image-container {
  background-color: #D7DBCB;
  width: 100%;
  height: 100%;
  position: relative;
}

.blk-text-anaya .visual {
  position: absolute;
  width: inherit;
  height: inherit;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.blk-text-anaya .has-decor {
  position: relative;
  overflow: hidden;
}

.blk-text-anaya .has-decor .decor {
  position: absolute;
  filter: saturate(0) brightness(100);
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  max-width: 8.75rem;
  max-height: 100%;
}

@media screen and (min-width: 72.5rem) {
  .blk-text-anaya .has-decor .decor {
    max-width: 16.25rem;
  }
}

.blk-text-anaya.txt-left .decor {
  right: 0;
  left: unset;
  transform: scale(-1, 1);
}

.layout-background {
  color: #fff;
  width: 100%;
  max-width: 100%;
}

@media screen and (min-width: 72.5rem) {
  .layout-background {
    grid-template-columns: 3fr 4fr;
  }
  .layout-background.txt-right {
    grid-template-columns: 4fr 3fr;
  }
  .layout-background.txt-right .image-container::after {
    right: 0;
    left: unset;
    background: linear-gradient(90deg, rgba(127, 138, 88, 0) 0%, rgba(127, 138, 88, 0.9) 50%);
  }
  .layout-background.txt-right .txt-container {
    grid-column: 2 / 3;
  }
}

.layout-background .title {
  color: #fff;
}

.layout-background .separator {
  filter: saturate(0) brightness(100);
}

.layout-background .txt-container {
  grid-row: 1;
  z-index: 10;
  grid-column: 1 / 2;
}

.layout-background .image-container {
  z-index: -1;
  grid-row: 1;
  grid-column: 1 / 2;
  position: relative;
}

@media screen and (min-width: 72.5rem) {
  .layout-background .image-container {
    grid-column: 1 / 3;
  }
}

.layout-background .image-container::after {
  content: "";
  height: 100%;
  width: 100%;
  right: unset;
  left: 0;
  top: 0;
  position: absolute;
  mix-blend-mode: multiply;
  background: linear-gradient(-90deg, rgba(127, 138, 88, 0.3) 0%, #7f8a58 60%);
}

@media screen and (min-width: 72.5rem) {
  .layout-background .image-container::after {
    width: 57%;
  }
}

@media screen and (min-width: 72.5rem) {
  .layout-background .image-container::after {
    background: linear-gradient(-90deg, rgba(127, 138, 88, 0) 0%, rgba(127, 138, 88, 0.9) 50%);
  }
}

.layout-medium_size {
  box-sizing: border-box;
}

@media screen and (min-width: 37.5rem) {
  .layout-medium_size {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 37.5rem) and (min-width: 72.5rem) {
  .layout-medium_size {
    grid-template-columns: 3fr 4fr;
  }
  .layout-medium_size.txt-right {
    grid-template-columns: 4fr 3fr;
  }
}

@media screen and (min-width: 37.5rem) {
  .layout-medium_size.txt-right .txt-container {
    grid-column: 2 / 3;
  }
  .layout-medium_size.txt-right .image-container {
    grid-column: 1 / 2;
  }
}

.layout-medium_size .txt-container {
  grid-row: 2;
}

@media screen and (min-width: 37.5rem) {
  .layout-medium_size .txt-container {
    grid-row: 1;
  }
}

.layout-medium_size .title {
  color: #7F8A58;
}

.layout-medium_size .image-container {
  grid-row: 1;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 37.49rem) {
  .layout-medium_size .image-container {
    min-height: 100vw;
  }
}

@media screen and (min-width: 37.5rem) {
  .layout-medium_size .image-container {
    grid-row: 1;
  }
}

.blk-icones ul {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(8.75rem, 1fr));
  justify-items: center;
  align-items: start;
}

.blk-icones ul li {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 19.5rem) {
  .blk-icones ul li {
    border-bottom: 1px solid #000;
    padding: 1rem 0;
  }
  .blk-icones ul li:last-child {
    border-bottom: none;
  }
}

@media screen and (min-width: 19.5rem) {
  .blk-icones ul li {
    border-right: 1px solid #000;
    padding: 0 1rem;
  }
  .blk-icones ul li:last-child {
    border-right: none;
  }
}

@media screen and (min-width: 19.5rem) and (max-width: 28.25rem) {
  .blk-icones ul li:nth-child(2n) {
    border-right: none;
  }
}

@media screen and (min-width: 28.25rem) and (max-width: 38rem) {
  .blk-icones ul li:nth-child(3n) {
    border-right: none;
  }
}

.blk-icones img,
.blk-icones picture {
  width: auto;
  height: auto;
  max-width: 5rem;
  margin-bottom: 1rem;
}

.blk-icones h2 {
  line-height: 1.1;
}

.blk-icones.is_preview ul {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}

.blk-icones.is_preview ul li {
  width: 100%;
  height: 100%;
  border-bottom: none;
  border-right: 1px solid #000;
}

.blk-icones.is_preview ul li:last-child {
  border-right: none;
}

.blk-icones.is_preview ul img, .blk-icones.is_preview ul picture {
  width: 100%;
  height: auto;
}

/*

Gutenberg Block "blk-mariage" [mariage.php]

File structure :
------------------
1 - Bloc layout

*/
.blk-mariage .text-container {
  display: block;
}

@media screen and (min-width: 37.5rem) {
  .blk-mariage .text-container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 37.5rem) and (min-width: 85rem) {
  .blk-mariage .text-container {
    grid-template-columns: 3fr 2fr;
  }
}

.blk-mariage .quote-like {
  position: relative;
  margin: 0;
  padding: 2rem 0 4rem 0;
}

@media screen and (min-width: 37.5rem) {
  .blk-mariage .quote-like {
    padding: 0 2rem;
    margin-bottom: 2rem;
  }
}

.blk-mariage .quote-like:before, .blk-mariage .quote-like:after {
  color: #7F8A58;
  font-size: 4rem;
  position: absolute;
}

.blk-mariage .quote-like:before {
  content: "\00201C";
  top: -0.5em;
  left: 0;
}

@media screen and (min-width: 37.5rem) {
  .blk-mariage .quote-like:before {
    top: -0.25em;
  }
}

.blk-mariage .quote-like:after {
  content: "\00201D";
  bottom: -0.5em;
  right: 0;
}

@media screen and (min-width: 37.5rem) {
  .blk-mariage .quote-like:after {
    bottom: -0.75em;
  }
}

.blk-mariage .img-listing {
  display: grid;
  grid-gap: 1rem;
  grid-gap: 1rem;
  max-width: 100%;
  box-sizing: border-box;
  max-width: 67.5rem;
  grid-template-columns: repeat(2, 1fr);
}

.blk-mariage .img-listing img,
.blk-mariage .img-listing picture {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 37.5rem) {
  .blk-mariage .img-listing {
    grid-template-columns: repeat(3, 1fr);
  }
}

.blk-mariage.hide-new-photo .img-listing > * {
  display: none;
}

.blk-mariage.hide-new-photo .img-listing > *:nth-child(1),
.blk-mariage.hide-new-photo .img-listing > *:nth-child(2) {
  display: block;
}

@media screen and (min-width: 37.5rem) {
  .blk-mariage.hide-new-photo .img-listing > *:nth-child(3) {
    display: block;
  }
}

.blk-mariage .button-container {
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
  text-align: center;
  position: relative;
  padding-top: 4vw;
  margin-top: 4vw;
}

.blk-mariage .button-container:not(.show-second-button) {
  margin-top: -4vw;
}

.blk-mariage .button-container.overlay-effect {
  margin-top: -4vw;
}

.blk-mariage .button-container:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 1rem;
  border-top: 4vw solid transparent;
  border-left: 50vw solid white;
  border-right: 50vw solid white;
}

.blk-mariage .button-container:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 4vw;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}

.blk-mariage .button-container-preview {
  min-width: 100%;
  text-align: center;
  margin-top: -1.875rem;
}

.blk-mariage .button-container-preview img {
  min-width: 100%;
  min-height: 1.875rem;
}

.blk-mariage button.reset-style {
  margin: 1rem auto 0 auto;
  padding: 0.5rem;
}

.blk-mariage .button-container > .toggle-img {
  display: none;
}

.blk-mariage .button-container.show-second-button > .toggle-img {
  display: block;
}

.blk-mariage .toggle-img img, .blk-mariage .toggle-img picture {
  transform: rotate(180deg);
}

.blk-mariage .toggle-img .show-label {
  display: none;
}

.blk-mariage .toggle-img .hide-label {
  display: block;
}

.blk-mariage .toggle-img.hide-img .show-label {
  display: block;
}

.blk-mariage .toggle-img.hide-img .hide-label {
  display: none;
}

.blk-mariage .toggle-img.hide-img img, .blk-mariage .toggle-img.hide-img picture {
  transform: rotate(0);
}

.mariage-legend {
  display: none;
  visibility: hidden;
  height: 0;
  width: 0;
  margin-bottom: 0;
  overflow: hidden;
}

.mariage-legend * {
  display: inherit;
}

.show-legend .mariage-legend {
  display: block;
  visibility: visible;
  height: 100%;
  width: 100%;
  margin-top: 1rem;
}

.modale_photo {
  background: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 5vh;
  text-align: center;
  z-index: 400;
  box-sizing: border-box;
  display: grid;
  grid-gap: 2.5vh;
  justify-content: center;
  grid-template-rows: 5vh 75vh 5vh;
  grid-template-areas: "close close"  "img   img"  "prev  next";
  /*
    > * {
        width: auto;
        height: auto;
        object-fit: contain;
        max-width: 80vw;
        max-height: 60vh;
        @media screen and (min-width: $mobile_width) {
            max-height: 80vh;
        }
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    */
}

.modale_photo img,
.modale_photo picture {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.modale_photo .closeModale {
  grid-area: close;
  justify-self: center;
  align-self: center;
}

.modale_photo #photoModale {
  grid-area: img;
}

.modale_photo #prevButton {
  grid-area: prev;
  justify-self: right;
  align-self: center;
}

.modale_photo #nextButton {
  grid-area: next;
  justify-self: left;
  align-self: center;
}

.modale_photo button {
  text-decoration: none;
  color: #7F8A58;
  transition: .2s all;
  padding: 0.5em 1em;
  line-height: 1.1;
  border-radius: 2.2em;
  cursor: pointer;
  color: #7F8A58;
  background-color: #fff;
  border: 2px solid #7F8A58;
}

.modale_photo button:disabled {
  color: #F2F3EE;
  background-color: #707070;
}

.modale_photo button:link, .modale_photo button:visited {
  color: #7F8A58;
}

.modale_photo button > * {
  display: inline;
  vertical-align: middle;
  line-height: 1.5;
}

.modale_photo button > img,
.modale_photo button picture {
  transition: inherit;
}

.modale_photo button:hover, .modale_photo button:focus, .modale_photo button[focus-within] {
  background-color: #7F8A58;
  border-color: #7F8A58;
  color: #fff;
}

.modale_photo button:hover, .modale_photo button:focus, .modale_photo button:focus-within {
  background-color: #7F8A58;
  border-color: #7F8A58;
  color: #fff;
}

.modale_photo button:hover > img,
.modale_photo button:hover picture, .modale_photo button:focus > img,
.modale_photo button:focus picture, .modale_photo button[focus-within] > img,
.modale_photo button[focus-within] picture {
  filter: saturate(0) brightness(2);
}

.modale_photo button:hover > img,
.modale_photo button:hover picture, .modale_photo button:focus > img,
.modale_photo button:focus picture, .modale_photo button:focus-within > img,
.modale_photo button:focus-within picture {
  filter: saturate(0) brightness(2);
}

.modale_photo button:active {
  color: #fff;
  background-color: #10709c;
  border-color: #10709c;
}

.modale_photo button:active > img,
.modale_photo button:active picture {
  filter: saturate(0) brightness(2);
}

.modale_photo button:disabled {
  border-color: #707070;
}

.btn_photo_mariage {
  cursor: pointer;
}

.blk-partner .item-separator {
  margin: 1rem 0;
}

.blk-partner .grid-partner {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(auto, 10rem));
  justify-content: center;
  align-content: start;
  margin: auto;
}

.blk-partner .grid-partner.grid-partner-preview {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.blk-partner .grid-partner li *,
.blk-partner .grid-partner a * {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.blk-partner .grid-partner li .size-partner,
.blk-partner .grid-partner a .size-partner {
  background-color: #F2F3EE;
}

.blk-team {
  width: 100%;
  box-sizing: border-box;
}

@media screen and (min-width: 59rem) {
  .blk-team {
    width: 49%;
    display: inline-block;
    vertical-align: top;
  }
  .blk-team:nth-of-type(even) {
    text-align: left;
  }
  .blk-team .team-card {
    max-width: 26.5rem;
    background-image: url(./image/background.svg);
    background-repeat: no-repeat;
    background-position: 0 11.25rem;
    background-size: 12.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    box-sizing: border-box;
  }
  .blk-team:nth-of-type(odd) > .team-card {
    margin-left: auto;
  }
  .blk-team:nth-of-type(even) > .team-card {
    margin-right: auto;
  }
}

@media screen and (min-width: 20rem) {
  .blk-team .has-subtitle {
    display: grid;
    grid-template-columns: auto 4rem;
    align-items: end;
  }
  .blk-team .has-subtitle .subtitle {
    text-align: right;
  }
}

.blk-team img, .blk-team picture {
  max-width: 100%;
  height: auto;
}

.blk-team .has-gradient {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 16.25rem;
}

.blk-team .has-gradient::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4rem;
  width: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0), #fff);
}

.blk-team .entry-content {
  padding-top: 1.5rem;
}

@media screen and (min-width: 59rem) {
  .blk-team:last-of-type:nth-of-type(odd) {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: 26.5rem 26.5rem;
    grid-gap: 3rem;
  }
}

@media screen and (min-width: 59rem) and (min-width: 72.5rem) {
  .blk-team:last-of-type:nth-of-type(odd) {
    grid-gap: 6rem;
  }
}

@media screen and (min-width: 59rem) and (min-width: 72.5rem) and (min-width: 85rem) {
  .blk-team:last-of-type:nth-of-type(odd) {
    grid-gap: 9rem;
  }
}

@media screen and (min-width: 59rem) {
  .blk-team:last-of-type:nth-of-type(odd)::after {
    content: '';
    height: 100%;
    display: inherit;
  }
}

.blk-team.is_preview,
.blk-team.is_preview:last-of-type:nth-of-type(odd) {
  width: 100%;
  display: block;
  text-align: center;
}

.blk-team.is_preview::after,
.blk-team.is_preview:last-of-type:nth-of-type(odd)::after {
  display: none;
}

.blk-team.is_preview .team-card,
.blk-team.is_preview:last-of-type:nth-of-type(odd) .team-card {
  margin-left: auto;
  margin-right: auto;
}

.blk-team.is_preview .img-preview,
.blk-team.is_preview:last-of-type:nth-of-type(odd) .img-preview {
  width: 100%;
  height: auto;
}

/*

Style Archive Learn 

File structure :
------------------
A - Listing Archive 
------------------
B - Lsiting universal
------------------
C - Terms Listing (category)
------------------
D - Terms select (keywords)

*/
.listing-archive {
  display: grid;
  justify-items: center;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 37.5rem) {
  .listing-archive {
    grid-template-columns: repeat(2, 1fr);
  }
}

.listing-archive > article {
  width: 100%;
}

.listing-universal {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
}

.listing-universal > article {
  display: block;
}

.listing-universal > article > .thumbnail {
  float: left;
  width: 16rem;
  height: 16rem;
  margin-right: 2rem;
  margin-bottom: 0;
}

.listing-universal > article > * {
  display: block;
}

.term-listing {
  text-align: center;
  margin-top: -1rem;
}

.term-listing > * {
  display: inline-block;
  margin-right: 1rem;
  margin-top: 1rem;
}

.term-listing > *:last-child {
  margin-right: 0;
}

.term-listing.margin-b {
  margin-bottom: 2rem;
}

#select-archive {
  min-width: 16rem;
  padding: 0.5rem;
  font-weight: 1rem;
  font-size: 400;
  margin-bottom: 2rem;
}

/*

Style Archive Tools 

File structure :
------------------
1 - Image Thumbnail
------------------
2 - Article style
    2.1 Article Animation
    2.2 - Article tools
    2.3 - Article Learn
    2.4 - Article post

*/
.thumbnail {
  width: 100%;
  height: 16rem;
  overflow: hidden;
  border: 2px solid white;
  border-radius: 4px;
  background-color: #707070;
}

.thumbnail > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  transition: opacity .2s;
}

.thumbnail:hover > img, .thumbnail:focus > img, .thumbnail:active > img {
  opacity: 0.75;
}

.article-tools,
.article-learn,
.article-post {
  opacity: 0;
  -webkit-animation: .4s fadein 1 forwards;
  animation: .4s fadein 1 forwards;
}

.article-tools:nth-of-type(even),
.article-learn:nth-of-type(even),
.article-post:nth-of-type(even) {
  animation-delay: .2s;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.article-tools .thumbnail {
  border-color: #52ca58;
}

.article-learn .thumbnail {
  border-color: #7F8A58;
}

.article-post .thumbnail {
  border-color: #10709c;
}
