/*

Style content [#content]

File structure :
------------------
1 - Wrapper settings
  1.1 : Wrapper
  1.2 : Narrow-wrapper
------------------
2 - Vertical Rythm (padding) 
  2.1 : Vertical Padding Regular
  2.2 : Vertical Padding Small
------------------
3 - Link style
  3.1 - Link-default
  3.2 - Link Primary
  3.3 - Button primary
  3.4 - Button ghost
  3.5 - Button cta
  3.6 - Social Icons
------------------
4 - Entry Content
  4.1 - Entry-content global
  4.2 - No useless margin
  4.3 - Entry-content blockquote
  4.4 - Entry-content : List style (ul + ol) 
  4.5 - Entry-content : List variant (ol only)
-------------------
5 - Video Container
  5.1 - Video thumbnail size
  5.2 - Video icon
  5.3 - Interactivity

*/

/* 1 - Wrapper settings
------------------ */

//1.1 : Wrapper (horizontal padding)
@mixin wrapper {
  margin: auto;
  width: 100%;
  box-sizing: border-box;
  @include spacing(padding-left, $horizontal-padding-regular);
  @include spacing(padding-right, $horizontal-padding-regular);
}
  .wrapper {
    @include wrapper;
    
    img, 
    picture {
      max-width: 100%;
      width: auto;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }

  .wrapper-max {
    max-width: $wrapper-max;
  }
    .wrapper-large {
      max-width: $wrapper-large;
    }
      .wrapper-medium {
        max-width: $wrapper-medium;
      }

      .wrapper-max,
      .wrapper-large,
      .wrapper-medium {
        margin-left: auto;
        margin-right: auto;
      }

/* 2 - Horizontal padding
------------------ */

// 2.1 : Horizontal padding Regular
// Same as .wrapper
.h-padding-regular {
  @include spacing( padding-left, $horizontal-padding-regular );
  @include spacing( padding-right, $horizontal-padding-regular );
}
  // 2.2 : Horizontal padding Small
  .h-padding-small {
    @include spacing( padding-left, $horizontal-padding-small );
    @include spacing( padding-right, $horizontal-padding-small );
  }

/* 3 - Vertical padding
------------------ */

// 3.1 : Vertical padding Regular
.v-padding-regular {
  @include spacing( padding-top, $vertical-padding-regular );
  @include spacing( padding-bottom, $vertical-padding-regular );
}

.btm-padding-regular {
  @include spacing( padding-bottom, $vertical-padding-regular );
}
.top-padding-regular {
  @include spacing( padding-top, $vertical-padding-regular );
}

  // 3.2 : Vertical padding Small
  .v-padding-small {
    @include spacing( padding-top, $vertical-padding-small );
    @include spacing( padding-bottom, $vertical-padding-small );
  }
  .btm-padding-small {
    @include spacing( padding-bottom, $vertical-padding-small );
  }
  .top-padding-small {
    @include spacing( padding-top, $vertical-padding-small );
  }

/* 4 - Entry Content
----------------- */

// 4.1 - Entry-content global
@mixin entry-content {
  //font-size: inherit;
  //color: inherit;
  line-height: $lh-standard;
  @include no-useless-margin;

  img, picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
  }

  ul, ol {
    @include entry-content-list;
  }

  ol {
    @include entry-content-ol;
  }
  
  a {
    @include link-default ;
  }

  blockquote {
    margin: 4rem auto;
    @include entry-content-blockquote;
  }

  @include no-useless-margin;

}

// 4.2 - No useless margin
@mixin no-useless-margin {
  > * {
    &:last-child {
      margin-bottom: 0;
    }
    &:first-child {
      margin-top: 0;
    }
  }
}

// 4.3 - Entry-content blockquote
@mixin entry-content-blockquote {
  padding-left: 2rem;
  border-left: 2px solid $color-primary;
  @include no-useless-margin;
}

// 4.4 - Entry-content : List style (ul + ol) 
@mixin entry-content-list {
  margin: 0;
  li {
    margin-bottom: 0.5em;
    list-style: square inside;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

// 4.5 - Entry-content : List varaint (ol only) 
@mixin entry-content-ol {
  li {
    list-style: decimal inside;
  }
}

.entry-content {
  @include entry-content;
}

.title-separator {
  display: block;
  margin: 1rem auto;
}