/*

Style Footer [footer.php]

*/

$footer-column : pixel(32);

/*1 - Footer layout
------------------ */
#footer {
    background-color: $brand-green-light;
    border-top: 1px solid $black;
    color: $gray-medium;

    // Bloc Layout
    #footer-layout {
        // 1.1 Layout Mobile
        display: grid;
        @include gutter;
        grid-auto-columns: 1fr;
        grid-auto-rows: minmax(auto, 1fr);
        grid-template:  "logo" "content" "social" "menu";
        // 1.2 Layout Desktop
        @media screen and (min-width: $mobile_width) {
            grid-auto-columns: 1fr 1fr;
            grid-template:      "logo      content"
                                "social    content"
                                ".         menu";
            @media screen and (min-width: $tablet_width) {
                grid-auto-columns: 1fr $footer-column 1fr $footer-column 1fr;
                grid-template:      "content  .  logo   .  menu"
                                    "content  .  social .  menu";
            }
        }
    }
    // Reset List
    ul, li {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    #footer-logo {
        grid-area: logo;
        line-height: 0;
        border: 1px solid transparent;
        transition: all .2s;
        &:hover,
        &:focus,
        &:active {
            border-color: $brand-green;
        }

        > * {
            line-height: $lh-small;
        }

        img,
        picture {
            width: pixel(80);
            height: auto;
            margin: auto;
            @media screen and (min-width: $mobile_width ) {
                width: pixel(120);
                @media screen and (min-width: $tablet_width ) {
                    width: pixel(150);
                }
            }
        }

        .h1-like {
            display: block;
        }
    }

    #footer-content {
        grid-area: content;
    }

    #footer-social {
        grid-area: social;
        li {
            display: inline-block;
            margin-right: 1rem;
            &:last-child {
                margin-right: 0;
            }
        }
    }

    #footer-menu {
        grid-area: menu;
        a { 
            @include link-discrete;
        }
    }
}

