/*
Style Topbar [header.php]

File structure :
------------------
1 - Topbar Style
------------------
2 - Logo Style
    2.1 Logos sizes
------------------
3 - Menu style
    3.1 Reset list Style
    3.2 Menu Primary Style
    3.3 Links style
    3.4 Sub-menu style
    3.5 Sub-menu links style
------------------
4 - Social Media Style
------------------
5 - Searchbar Style
------------------
6 - Desktop Layout for Searchbar + Social Media
------------------
7 - Menu mobile
------------------
8 - Scroll  Behaviour 
------------------
9 - Content Top position

*/

$topbar-shadow: 0px 3px 25px rgba(0, 0, 0, 0.15);
#topbar {
    position: fixed;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: $index-navigation;
    // 1 - Topbar Style
    background: $white;
    box-shadow: $topbar-shadow;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    @media screen and (min-width: $mobile-width) {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        // Menu ul.shop
        @media screen and (min-width: $tablet-width) {
            padding-bottom: 3.25rem;
        }
    }
    // 2 - Logo Style
    #logo {
        text-decoration: none;
        line-height: 0;
        border: 1px solid transparent;
        transition: all .2s;
        &:hover,
        &:focus,
        &:active {
            border-color: $brand-green;
        }
        >* {
            line-height: $lh-small;
        }
        img,
        picture {
            width: pixel(120);
            height: auto;
            @media screen and (min-width: $mobile_width) {
                width: pixel(140);
                @media screen and (min-width: $tablet_width) {
                    width: pixel(180);
                }
            }
        }
    }
    #logo,
    #controls {
        >* {
            margin-right: 0.5em;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    #controls img {
        display: inline-block;
        vertical-align: middle;
    }
    // Quick link for phone call (mobile only)
    #phone-tab {
        position: fixed;
        padding: 0.5rem;
        @include spacing(bottom, $horizontal-padding-regular);
        @include spacing(right, $horizontal-padding-regular);
        box-shadow: $topbar-shadow;
    }
    // 3 - Menu style
    #menu {
        // 7 - Menu mobile
        @media screen and (max-width: $tablet-width - 0.01rem) {
            box-shadow: inset $topbar-shadow;
            position: absolute;
            overflow-y: scroll;
            overflow-x: hidden;
            box-sizing: border-box;
            >* {
                display: block;
                margin-left: auto;
                margin-right: auto;
                box-sizing: inherit;
                &:first-child {
                    margin-top: 2rem;
                }
                &:last-child {
                    margin-bottom: 6rem;
                }
            }
            top: pixel(60);
            @media screen and (min-width: $mobile-width) {
                top: pixel(75);
            }
            left: 50%;
            width: 100%;
            //width: 100vw;
            //min-height: 100%;
            height: 100%;
            min-height: 100vh;
            //overflow: scroll;
            transform: translate(50%, 0%);
            opacity: 0;
            margin: 0;
            text-align: center;
            background: $gray-light;
            transition: transform 0.4s,
            opacity 0.4s;
            color:$brand-green;
            padding-left: map-get($horizontal-padding-regular, $mobile-width);
            padding-right: map-get($horizontal-padding-regular, $mobile-width);
            /* Greenish background
            &::after {
                position: fixed;
                content:"";
                top:0;
                left: 0;
                background: $gray-light;
                width: 100%;
                height: 100%;
                z-index: -1;
            }
            */
            // Menu layout : visible
            &:focus,
            &.menu-open {
                opacity: 1;
                transform: translate(-50%, 0%);
            }
            >.button-brd {
                display: inline-block;
                margin-bottom: 2.5rem;
            }
        }
        ul.primary {
            // 3.1 - Reset list Style   
            list-style: none;
            //margin: 0; 
            padding: 0;
            a {
                display: inline-block;
            }
            li {
                // Style mobile
                @media screen and (max-width: $tablet-width - 0.01rem) {
                    display: block;
                    position: relative;
                    padding-top: 2.5rem;
                    &:before {
                        content: url(./image/flower.png);
                        width: 100%;
                        top: 0.75rem;
                        left: 0;
                        position: absolute;
                    }
                }
                // Style Desktop
                @media screen and (min-width: $tablet-width) {
                    display: inline-block;
                    margin-right: 2.5rem;
                    &:last-child {
                        margin-right: 0;
                    }
                    // Link Style : Desktop
                    @media screen and (min-width: $desktop-width) {
                        margin-right: 3.5rem;
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
        li>a,
        .link {
            font-size: pixel(20);
            text-transform: uppercase;
            color: $gray-medium;
            text-decoration: none;
            //@include link-base-layout;
            @include link-base-hover;
            @include link-base-active;
            line-height: $lh-small;
            position: relative;
            &:link,
            &:visited {
                color: $gray-medium;
            }
            // Decorative line (desktop)
            &:after {
                content: "";
                position: absolute;
                width: 0;
                height: 1px;
                bottom: -0.15em;
                left: unset;
                right: 0;
                color: inherit;
                background: currentColor;
                //transform-origin: center;
                transition: .2s;
            }
            &:hover,
            &:focus,
            &:active {
                &:after {
                    width: 100%;
                    left: 0;
                    right: unset;
                }
            }
            // Link Style : Tablet
            @media screen and (min-width: $tablet-width) {
                font-size: 1rem;
            }
        }
        .current-menu-item>a,
        .current-menu-ancestor>a {
            color: $brand-green;
            &:after {
                width: 100%;
            }
        }
    }
    // E-shop menu
    ul.shop {
        display: none;
        @media screen and (min-width: $tablet-width) {
            position: fixed;
            top: 5rem;
            left: 0;
            display: flex;
            flex-flow: row nowrap;
            width: 100%;
            box-sizing: border-box;
            //background: $brand-green;
            background-color: $brand-green-medium;
            padding: 0;
            //@include spacing(padding-left, $horizontal-padding-regular);
            //@include spacing(padding-right, $horizontal-padding-regular);
            li {
                list-style: none;
                width: auto;
                text-align: center;
                padding: 0.5rem;
                flex: 1 1 auto;
                color: $white;
                box-sizing: border-box;
                border-right: 1px solid $white;
            }
            li:last-child {
                border-right: none;
            }
            .current-product-ancestor,
            .current-menu-parent,
            .current-menu-item {
                //background-color: $brand-green-dark;
            }
            a {
                //@include link-discrete;
                text-decoration: none;
                color: $gray-medium;
                &:hover {
                    color: $gray-dark;
                }
            }
        }
    }
} // End of #topbar
#content {
    @include spacing(padding-top, $topbar-height);
}

#topbar .link-discrete {
    position: relative;
    img {
        width: 32px;
        height: 32px;
    }
    #countCart {
        font-size: .8em;
        color: $brand-green-dark;
        padding-left: .5em;
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}