/* 4 - Link
------------------ */

// 4.1 - Link Base
// Commun style for all links
@mixin link-base-layout {
    transition: .2s all;
    cursor: pointer;
    .img-in-link {
        transition: .2s opacity;
        opacity: 1;
    }
    &:focus-visible {
        background-color: transparent;
        outline-color: $black;
    }
    &:disabled {
        color: $gray-medium;
        background-color: $gray-light;
    }
}

@mixin link-base-hover {
    &:hover {
        color: $color-primary;
        .img-in-link {
            opacity: 0.5;
        }
    }
}

@mixin link-base-active {
    &:active {
        color: $color-secondary;
        //background-color: $black;
    }
}

@mixin link-base {
    @include link-base-layout;
    @include link-base-hover;
    @include link-base-active;
}

// 4.2 - Link-default
@mixin link-default {
    color: $color-primary;
    &:link,
    &:visited {
        color: $color-primary;
    }
    &:hover,
    &:focus,
    &:focus-within {
        color: $white;
        background-color: $color-secondary;
    }
    &:focus,
    &:focus-within {
        outline-color: $black;
    }
    @include link-base-layout;
    //@include link-base-hover;
    @include link-base-active;
}

.link-default {
    @include link-default;
}

// 4.3 - Link-discrete (no underline)
@mixin link-discrete {
    color: inherit;
    text-decoration: none;
    &:link,
    &:visited {
        color: inherit;
    }
    &:hover,
    &:focus {
        text-decoration: underline;
    }
    @include link-base;
}

.link-discrete {
    @include link-discrete;
}

// 4.3.2 - Link-color (for custom ami-color elements)
@mixin link-color {
    text-decoration: none;
    // border: 1px solid transparent;
    @include link-base-layout;
    &:link,
    &:visited {
        color: $brand-green;
    }
    * {
        transition: all .2s;
    }
    &:hover,
    &:focus,
    &:focus-within {
        * {
            color: $color-secondary;
            //background: $gray-light;
        }
        color: $color-secondary;
        text-decoration: underline;
        //background: $gray-light;
    }
    &:active {
        color: $black;
        * {
            color: $black;
        }
       text-decoration: underline;
    }
    //@include link-base-hover;
    @include link-base-active;
}

.link-color {
    @include link-color;
}

// 4.4 - Link-white
@mixin link-white {
    color: $white;
    text-decoration: none;
    &:link,
    &:visited {
        color: $white;
    }
    &:hover,
    &:focus,
    &:focus-within {
        color: $black;
    }
    &:focus,
    &:focus-within {
        outline-color: $black;
    }
    @include link-base-layout;
    //@include link-base-hover;
    @include link-base-active;
}


/*
// 4.4 - Link-black (no underline)
@mixin link-black {
  color: inherit;
  text-decoration: underline;
  &:link,
  &:visited {
      color: inherit;
  }
  @include link-base;
}

.link-black { @include link-black;}
*/

// 4.4 - Link-icon (link or button with icon)
@mixin button-base {
    //display: inline-block;
    text-decoration: none;
    color: $brand-green;
    transition: .2s all;
    padding: 0.5em 1em;
    line-height: $lh-small;
    border-radius: 2.2em;
    cursor: pointer;
    &:disabled {
        color: $gray-light;
        background-color: $gray-medium;
    }
    &:link,
    &:visited {
        color: $brand-green;
    }
    >* {
        display: inline;
        vertical-align: middle;
        line-height: $lh-standard;
    }
}

// Button with image + text
.icon-left {
    img,
    picture {
        margin-right: 0.5em !important;
    }
}

//Button with text + image
.icon-right {
    img,
    picture {
        margin-left: 0.5em !important;
    }
}


/*
// Icon cliquable - background transparent
@mixin link-icon {
  @include button-base;
  padding: 0.5em;
  line-height: 0;
  background-color: transparent;

  &:hover,
  &:focus,
  &:focus-within {
    color: $default-text-color;
    background-color: $color-primary;
  }
  
  &:active {
    color: $default-text-color;
    background-color: $color-secondary;
  }
}

.link-icon, button.link-icon { 
  @include link-icon;
}
*/


/* Button with background-color
@mixin button {

  @include button-base;
  display: inline-block;
  line-height: $lh-small;
  color: $white;
  background-color: $color-primary;
  border: 1px solid transparent;

  &:link,
  &:visited {
    color: $white;
  }

  &:hover,
  &:focus,
  &:focus-within {
    color: $color-primary;
    border-color: $color-primary;
    background-color: $white;
  }
  
  &:active {
    color: $default-text-color;
    background-color: $color-secondary;
    border-color: $color-secondary;
  }
}
*/

@mixin button {
    @include button-base;
    display: inline-block;
    line-height: $lh-small;
    color: $white;
    background-color: $color-primary;
    border: 2px solid $color-primary;
    &:link,
    &:visited {
        color: $white;
    }
    &:hover,
    &:focus,
    &:focus-within {
        color: $color-primary;
        border-color: $color-primary;
        background-color: $white;
    }
    &:active {
        color: $default-text-color;
        background-color: $color-secondary;
        border-color: $color-secondary;
    }
}

.button {
    @include button;
}

.button-disable {
    color: $brand-green !important;
    background-color: $white !important;
    border-color: $brand-green !important;
    &:hover {
        color: $white !important;
        background-color: $brand-green !important;
        border-color: $brand-green !important;
    }
}


/* Button : white background + green border */

@mixin button-brd {
    @include button-base;
    //color: $default-text-color;
    color: $brand-green;
    background-color: $white;
    border: 2px solid $brand-green;
    >img,
    picture {
        transition: inherit;
    }
    &:hover,
    &:focus,
    &:focus-within {
        background-color: $color-primary;
        border-color: $color-primary;
        color: $white;
        >img,
        picture {
            filter: saturate(0) brightness(2);
        }
    }
    &:active {
        color: $white;
        background-color: $color-secondary;
        border-color: $color-secondary;
        >img,
        picture {
            filter: saturate(0) brightness(2);
        }
    }
    &:disabled {
        border-color: $gray-medium;
    }
}

.button-brd,
.button {
    @include button-brd;
}