/*

Style Form components
! This style doesn't apply to Worpess Admin (see style-editor.scss) !

File structure :
------------------
1 - Form Layout
------------------
2 - Input Style
    2.1 - Submit
    2.2 - Checkbox (RGPD)
    2.3 - Message de validation

*/

// 1 - form Layout

/*
form {
    width: 100%;
    max-width: pixel(600);
    // @include spacing(padding, $wrapper-padding);
    grid-gap: 1rem;
    margin: auto;
    display: grid;
    >#ResponseAnchor {
        display: block;
        text-align: center;
    }
    >label {
        margin-top: 1.5rem;
    }
}

// 2 - Input Style
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    @include font(h6, regular);
    background-color: $gray-light;
    outline: none;
    border: 2px solid transparent;
    box-shadow: none;
    border-radius: 4px;
    padding: 0.5em;
    width: 100%;
    transition: all .2s;
    &::placeholder {
        color: $gray-dark;
        opacity: 0.5;
        transition: all .2s;
    }
    &:not(:placeholder-shown) {
        background-color: $white;
        &:invalid {
            color: $red;
            //border-color: $red;
        }
        /*
        &:not(:invalid) {
            color: $green;
            border-color: $green;
        }
        
    }
    
    &:invalid {
        &:not(:focus),
        &:not(:placeholder)  {
            color: $red;
            border-color: $red;
        }
    }
    
    &:hover {
        border-color: darken($color-primary, 20);
    }
    &:focus {
        background-color: $white;
        color: $color-primary;
        border: 2px solid $gray-light;
        border-color: $color-primary;
        &::placeholder {
            opacity: 0.25;
        }
    }
}

// 2.1 - Submit
input[type="submit"] {
    margin-top: 2rem;
    @include button;
    border: none;
    outline: none;
    border: none;
    box-shadow: none;
    margin-left: auto;
    margin-right: auto;
}

// 2.2 - Checkbox (RGPD)
.checkbox {
    display: flex;
    flex-flow: row nowrap;
    justify-items: flex-start;
    align-items: flex-start;
    margin-top: 2rem;
    >label {
        margin-top: 0;
        margin-left: 2rem;
    }
}

// 2.3 - Message de validation
#ResponseAnchor {
    // Default state : input button is visible
    * {
        opacity: 1;
        transition: all .2s;
    }
    #ResponseMessage {
        opacity: 0;
    }
    // Message has been sent : #responseMessage is visible
    &.messageSent {
        * {
            opacity: 0;
        }
        #ResponseMessage {
            opacity: 1;
            transition-delay: 0.5s;
        }
    }
}
*/

.select select {
    // A reset of styles, including removing the default dropdown arrow
    appearance: none;
    -webkit-appearance: none;
    // Additional resets for further consistency
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    line-height: $lh-small;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
    color: $gray-dark;
    z-index: 10;
    option {
        color: $brand-green;
        background-color: $gray-light;
    }
}

.select select::-ms-expand {
    display: none;
}

.select {
    box-sizing: border-box;
    display: grid;
    align-items: center;
    grid-template-areas: "select";
    width: 100%;
    //min-width: 15ch;
    max-width: 25ch;
    border: 2px solid $brand-green;
    border-radius: 4px;
    padding: 0.5em;
    cursor: pointer;
    line-height: $lh-small;
    font-size: 1rem;
    background-color: $white;
}

.select select,
.select:after {
    grid-area: select;
}

.select::after {
    content: "";
    justify-self: end;
    width: 0.8em;
    height: 0.5em;
    background-color: $gray-medium;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    z-index: 5;
}