/*

Green Logo in background

*/

.bg-pattern {
    background-repeat: no-repeat;
    background-size: pixel(120);
    @media screen and (min-width: $mobile_width) {
        background-size: pixel(240);
    }

    &.bg-left {
        background-image: url(./image/background-left.svg);
        background-position: 0 0; // Top - left
    }

    &.bg-right {
        background-image: url(./image/background-right.svg);
        background-position: 100% 0; // Top - right
    }

}