/*

Woocommerce Account PAge

*/

// Left panel : grey background
.woocommerce-account #wp-content .woocommerce-MyAccount-navigation {
    background: $gray-neutral;
    padding: 1rem;
    box-sizing: border-box;

    ul, li {
        list-style: none;
        padding: 0;
    }

    a {
        text-decoration: none;
        //@include link-default;
    }
}

// Right panel : white background
.woocommerce-account #wp-content .woocommerce-MyAccount-content {
    padding: 0 1rem;
    box-sizing: border-box;
}