/*

Woocommerce Single Product Page

*/

.woocommerce div.product form.cart {
    >*,
    div.quantity {
        display: block;
        float: none;
        margin-bottom: $grid-gutter;
    }
    .button {
        @include button;
    }
}

.woocommerce .woocommerce-product-gallery__image:first-of-type {
    margin-bottom: $grid-gutter;
    a,
    a:hover,
    a>* {
        cursor: pointer !important;
    }
}

// Input : Variations (with image)
.woocommerce div.product form.cart .variations {
    tr {
        display: flex;
        flex-flow: column;
        margin-bottom: 2rem;
    }
    td {
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: flex-start;
        //margin-top: 3rem;
        @media screen and (min-width: $tiny_width) {
            flex-flow: row wrap;
        }
    }
}


/*
Custom Checkbox for Contenant

Structure :

<div class="term_option">
    <input>
    <label>
        Lorem ispum
        <img>
    </label>
</div>

*/

.container_term_option {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}

.term_option {}

// 1.2 - Checkbox input (hidden)
.term_option input[type="radio"] {
    opacity: 0; // Input hidden but still accessible
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    margin: 0;
    display: contents;
}

// Card Design
.term_option label {
    background: $brand-green-light;
    border: 2px solid transparent;
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 400 !important;
    width: 100%;
    height: 100%;
    display: inline-block;
    .description {
        color: $brand-green-dark;
        font-size: 0.8rem;
        line-height: normal;
    }
    cursor: pointer;
    img,
    picture {
        width: 100%;
        max-width: 150px;
        height: auto;
        object-fit: cover;
        display: block;
    }
}

// When checked : border-color is green
.term_option input[type="radio"]:checked+label {
    border-color: $brand-green;
}

// When hover / focus, background is gray
.term_option:hover>label,
.term_option:focus>label,
.term_option:focus-within>label {
    background: $gray-light;
}