/*

Woocommerce Cart Page

*/

.woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-1,
.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-2 {
    width: 100%;
    max-width: 100%;
    float: unset;
    .checkout-button {
        float: right;
    }
}

#wp-content .woocommerce .woocommerce-shipping-totals .button {
    //display: block;
    margin-bottom: 1.5rem;
    @media screen and (max-width: $tiny_width) {
        font-size: 0.85rem;
        text-align: center;
    }
}

.woocommerce #ship-to-different-address-checkbox {
    display: none;
}

.woocommerce #shipping_country_field {
    display: none;
}

.woocommerce #message_ceremony_field {
    display: none;
}