/*

Woocommerce Cart Page

*/

.cart-collaterals,
.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
    width: 100%;
    max-width: 100%;
    float: unset;
    .checkout-button {
        float: right;
    }
}

.woocommerce-shipping-calculator {
    .shipping-calculator-form {
        //display: inline-block !important;
        #calc_shipping_country {
            visibility: hidden;
        }
    }
}

.woocommerce-shipping-totals {
    .woocommerce-shipping-destination {
        display: none!important;
    }
    .shipping-calculator-button {
        // display: none!important;
        display: inline !important;
    }
}

.woocommerce-thankyou-order-details {
    li {
        display: contents;
    }
}

.woocommerce .woocommerce-input-wrapper input.input-text {
    border: solid 1px #666;
    //line-height: 1.25;
}

.woocommerce .form-row.woocommerce-validated .woocommerce-input-wrapper input.input-text {
    border-color: $brand-green;
}