/*

Woocommerce Shop Page (listing of the categories)

*/

.woocommerce ul.products li.product .woocommerce-loop-category__title,
.woocommerce-page ul.products li.product .woocommerce-loop-category__title,
.woocommerce ul.products[class*="columns-"] li.product .woocommerce-loop-category__title {
    margin-top: 1rem;
    padding: 0 0.5rem;
    box-sizing: border-box;
    .count {
        /*font-family: $font-text;
        font-size: 1rem; 
        color: inherit;
        background-color: $brand-green-light;*/
        display: none;
    }
}