/*

Woocommerce Category Page (listing of the product)
@Design : https://xd.adobe.com/view/936d14e8-71c6-45fe-a916-5b21cd382a55-c63e/screen/4b5ffbd3-d0de-430a-b668-a91ea59c175e

*/

// 1 - Products listing
// Listing container
.woocommerce .products ul,
.woocommerce ul.products {
    display: grid;
    @include gutter;
    grid-template-columns: 1fr;
    @media screen and (min-width: $tiny_width) {
        grid-template-columns: repeat(2, 1fr);
        @media screen and (min-width: $mobile_width) {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}

// Listing container ::before and ::after (full-width)
.woocommerce .products ul::after,
.woocommerce .products ul::before,
.woocommerce ul.products::after,
.woocommerce ul.products::before {
    grid-column: 1 / 2;
    @media screen and (min-width: $tiny_width) {
        grid-column: 1 / 3;
        @media screen and (min-width: $mobile_width) {
            grid-column: 1 / 5;
        }
    }
}

.woocommerce .woocommerce-result-count,
.woocommerce .woocommerce-ordering {
    display: none;
}

// Single product
.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product,
.woocommerce ul.products[class*="columns-"] li.product {
    width: 100% !important;
    margin: 0;
    background: white;
    box-shadow: 0 0.5rem 1rem rgba($brand-green, 0.5);
    display: flex;
    flex-direction: column;
    //display: grid; // Center button "Add to cart"
}

// Elements inside Single product : 
.woocommerce ul.products li.product .woocommerce-loop-product__link,
.woocommerce-page ul.products li.product .woocommerce-loop-product__link,
.woocommerce ul.products[class*="columns-"] li.product .woocommerce-loop-product__link {
    // Padding (safe space)
    >* {
        display: block;
        padding: 0 0.5rem;
        box-sizing: border-box;
    }
    // Single product Thumbnail
    img {
        padding-left: 0;
        padding-right: 0;
        margin: 0;
        width: 100%;
        height: auto;
    }
    img+* {
        margin-top: 1rem;
    }
}

// Single product Title : color  
.woocommerce-loop-product__title {
    color: $brand_green;
}

// Single product Title : font-size 
.woocommerce ul.products li.product .woocommerce-loop-category__title,
.woocommerce ul.products li.product .woocommerce-loop-product__title,
.woocommerce ul.products li.product h3 {
    @include font(h3);
}

// Butons
.woocommerce ul.products li.product .button,
.woocommerce ul.products li.product .wc-forward {
    margin: 1rem auto;
}

// Buton "Add to cart"
.woocommerce ul.products li.product .button {
    text-align: center;
    @include button-brd;
    @media screen and (max-width: pixel(880)) {
        font-size: 0.75rem;
    }
}