/*

Woocommerce custom style

*/

// 1 - Layout
// Wrapper system
.woocommerce #primary,
.woocommerce #sidebar {
    @include wrapper;
    @include spacing(padding-top, $vertical-padding-regular);
    @include spacing(padding-bottom, $vertical-padding-regular);
    >* {
        max-width: $wrapper-max;
        margin-left: auto;
        margin-right: auto;
    }
}

// Sidebar
.woocommerce #sidebar {
    background: $gray-neutral;
    box-sizing: border-box;
    ul {
        list-style: none;
        padding: 0;
    }
    ul[role=navigation] {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        justify-content: space-between;
        h2 {
            margin-top: 0;
        }
    }
    a {
        @include link-default;
        text-decoration: none;
    }
}

// 2 - Elements Style
// Buttons
.woocommerce .button,
#wp-content .woocommerce .button {
    @include button;
}

// Link "Seecart"
.woocommerce #primary a.added_to_cart,
.woocommerce #primary a.wc-forward {
    @include link-color;
}

.wooac-image img {
    width: unset !important;
}