/*

Gutenberg Core blocks

*/


#wp-content {

    // Generic style for elements
    >*:not(.wp-block) {
        box-sizing: border-box;
        width: 100%;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        @include spacing(margin-bottom, $vertical-padding-small);
        @include spacing(padding-left, $horizontal-padding-regular);
        @include spacing(padding-right, $horizontal-padding-regular);
        max-width: $wrapper-medium;
        @include entry-content;
    }

    // First element is below topbar
    >*:first-child {
        &:not(.wp-block) {
            @include spacing(margin-top, $vertical-padding-small);
        }
    }


}