// Variable used to calculate item min-width
$blk-icon-width : pixel(140);
$blk-icon-breakpoint-2 : (2 * $blk-icon-width) + ( 2 * map-get($horizontal-padding-regular, $tiny_width ));
$blk-icon-breakpoint-3 : (3 * $blk-icon-width) + ( 2 * map-get($horizontal-padding-regular, $tiny_width ));
$blk-icon-breakpoint-4 : (4 * $blk-icon-width) + ( 2 * map-get($horizontal-padding-regular, $mobile_width ));


.blk-icones {

    ul {
        display: grid;
        @include gutter;
        grid-template-columns: repeat( auto-fit, minmax( $blk-icon-width, 1fr) );
        justify-items: center;
        align-items: start;
        li {
            width: 100%;
            height: 100%;

            // 1 item / line
            @media screen and (max-width: $blk-icon-breakpoint-2 ) {
                border-bottom: 1px solid $black;
                padding: 1rem 0;
                &:last-child {
                    border-bottom: none;
                }
            }

            // 2 items and more / line
            @media screen and (min-width: $blk-icon-breakpoint-2 ) {
                border-right: 1px solid $black;
                padding: 0 1rem;
                &:last-child {
                    border-right: none;
                }
            }
        }

        // 2 items / line
        @media screen and (min-width: $blk-icon-breakpoint-2) and (max-width: $blk-icon-breakpoint-3 ) {
            li:nth-child(2n) {
            border-right: none;
            }  
        }

        // 3 items / line
        @media screen and (min-width: $blk-icon-breakpoint-3) and (max-width: $blk-icon-breakpoint-4 ) {
            li:nth-child(3n) {
            border-right: none;
            }  
        }
    }

    // Icon
    img,
    picture {
        width: auto;
        height: auto;
        max-width: pixel(80);
        margin-bottom: 1rem;
    }

    h2 {
        line-height: $lh-small;
    }
}

.blk-icones.is_preview {
    ul {
        display: grid;
        @include gutter;
        grid-template-columns: repeat( 4, 1fr );


        li {
            width: 100%;
            height: 100%;
            border-bottom: none;
            border-right: 1px solid $black;
            &:last-child {
                border-right: none;
            }
        }

        img, picture {
            width: 100%;
            height: auto;
        }



    }
}