/*

Gutenberg Block "blk-mariage" [mariage.php]

File structure :
------------------
1 - Bloc layout

*/
// 1 - Bloc layout

.blk-mariage {

    // 1 - Title
    .text-container {
        display: block;
        @media screen and (min-width: $mobile_width) {
            display: grid;
            @include gutter;
            grid-template-columns: 1fr 1fr;
            @media screen and (min-width: $desktop_width) {
                grid-template-columns: 3fr 2fr;
            }
        }
    }

    .quote-like {

        position: relative;
        margin: 0;
        padding: 2rem 0 4rem 0;

        @media screen and (min-width: $mobile_width) {
            padding: 0 2rem;
            margin-bottom: 2rem;
        }

        &:before,
        &:after {
            color: $brand-green;
            font-size: 4rem;
            position: absolute;
        }

        &:before {
            content: "\00201C";
            top: -0.5em;
            left: 0;
            @media screen and (min-width: $mobile_width) {
                top: -0.25em;
                //left: 0;
            }
        }

        &:after {
            content: "\00201D";
            bottom: -0.5em;
            right: 0;
            @media screen and (min-width: $mobile_width) {
                bottom: -0.75em;
            }
        }
    }


    // 2 - Images listings
    .img-listing {
        display: grid;
        @include gutter;
        grid-gap: 1rem;
        max-width: 100%;
        box-sizing: border-box;
        max-width: $wrapper-max;
        img, 
        picture {
            width: 100%;
            height: auto;
        }

        grid-template-columns: repeat(2, 1fr);

        @media screen and (min-width: $mobile_width) {
            grid-template-columns: repeat(3, 1fr);
        }

    }

        &.hide-new-photo {

            .img-listing > * {
                display: none;
            }

            .img-listing > *:nth-child(1),
            .img-listing> *:nth-child(2) {
                display: block;
            }

            @media screen and (min-width: $mobile_width) {
                .img-listing > *:nth-child(3) {
                    display: block;
                }
            }
        }
    
    // 3 - Buttons containers

    // 3.1 - Decorative background before button
    .button-container {
        width: 100%;
        max-width: 100vw;
        overflow: hidden;
        text-align: center;
        position: relative;
        padding-top: 4vw;
        margin-top: 4vw;

        &:not(.show-second-button) {
            margin-top: -4vw;
        }

        // Overlay effect
        &.overlay-effect {
            margin-top: -4vw;
        }

        // White Triangle
        &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 0;
            height: 1rem;
            border-top: 4vw solid transparent;
            border-left: 50vw solid white;
            border-right: 50vw solid white;
        }

        // For the "shadow" effect
        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 4vw;
            background: linear-gradient(rgba($black, 0), rgba($black, 0.5));
            
        }
    }

    .button-container-preview {
        min-width: 100%;
        text-align: center;
        margin-top: pixel(-30);
        img {
            min-width: 100%;
            min-height: pixel(30);
        }
    }

    button.reset-style {
        //width: 100%;
        margin: 1rem auto 0 auto ;
        padding: 0.5rem;
    }

    // 3.2 - Buttons behaviour (show / hide)
    .button-container > .toggle-img {
        display: none;
    }

        .button-container.show-second-button {
            // Second button appears
            > .toggle-img {
                display: block;
            }

        }

 
    .toggle-img {
        
        img, picture {
            transform: rotate(180deg);
        }
        .show-label {
            display: none;
        }
        .hide-label {
            display: block;
        }

        &.hide-img {
            .show-label {
                display: block;
            }
            .hide-label {
                display: none;
            }
            img, picture {
                transform: rotate(0);
            }
        }
    }
}



// Show legend text on button click

.mariage-legend {
    display: none;
    visibility: hidden;
    height: 0;
    width: 0;
    margin-bottom: 0;
    overflow: hidden;
    * {
        display: inherit;
    }
}

.show-legend .mariage-legend {
    display: block;
    visibility: visible;
    height: 100%;
    width: 100%;
    margin-top: 1rem;
}

// Modal with big photos

.modale_photo {
    background: rgba($black, 0.75);
    width: 100%;
    height: 100%;
    max-width: 100vw;
    max-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    //@include spacing(padding, $horizontal-padding-regular);
    padding: 5vh;
    text-align: center;
    z-index: $index-modal;
    box-sizing: border-box;
    display: grid;
    grid-gap: 2.5vh;
    justify-content: center;
    grid-template-rows: 5vh 75vh 5vh; // 5 + 5 + 2.5 + 80 + 2.5 + 5 + 5 = 100vh
    grid-template-areas: "close close" 
                         "img   img" 
                         "prev  next";

    img, 
    picture {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    /*
    > * {
        width: auto;
        height: auto;
        object-fit: contain;
        max-width: 80vw;
        max-height: 60vh;
        @media screen and (min-width: $mobile_width) {
            max-height: 80vh;
        }
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    */

    .closeModale {
        grid-area: close;
        justify-self: center;
        align-self: center;
    }

    #photoModale {
        grid-area: img;
    }

    #prevButton {
        grid-area: prev;
        justify-self: right;
        align-self: center;
    }

    #nextButton {
        grid-area: next;
        justify-self: left;
        align-self: center;
    }

    button {
        @include button-brd;
        
    }
}

.btn_photo_mariage {
    cursor: pointer;
}