$blk-partner : pixel(160);

// Block "Listing Partner"
.blk-partner {

    .item-separator {
        margin: 1rem 0;
    }

    .grid-partner {
        display: grid;
        @include gutter;
        grid-template-columns: repeat( auto-fit, minmax( auto, $blk-partner) );
        justify-content: center;
        align-content: start;
        margin: auto;

        // Preview in Gutenberg Admin
        &.grid-partner-preview {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        li,
        a {
            * {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            // Logo partner
            .size-partner {
                background-color: $gray-light;
            }
        }
    }
}