
$blk-team-width : pixel(424);
$blk-team-width-breakpoint : (2 * $blk-team-width) + ( 4 * map-get($horizontal-padding-regular, $mobile_width ));

// Block "Team
.blk-team {
    
    // 1 element / line
    width: 100%;
    box-sizing: border-box;

    // 2 elements / line
    @media screen and (min-width: $blk-team-width-breakpoint) {
        width: 49%;
        display: inline-block;
        vertical-align: top;
        &:nth-of-type(even) {
            text-align: left;
        }

        .team-card {
            max-width: $blk-team-width;
            // Background pattern
            background-image: url(./image/background.svg);
            background-repeat: no-repeat;
            background-position: 0 pixel(180);
            background-size: pixel(200);
            padding-left: 2rem;
            padding-right: 2rem;
            box-sizing: border-box;
        }

        &:nth-of-type(odd) > .team-card {
            margin-left: auto;
        }

        &:nth-of-type(even) > .team-card {
            margin-right: auto;
        }
    }

    // Team name
    @media screen and (min-width: $tiny_width) {
        .has-subtitle {
            display: grid;
            grid-template-columns: auto 4rem;
            align-items: end;
            .subtitle {
                text-align: right;    
            }
        }
    }

    // Team Image
    img, picture {
        max-width: 100%;
        height: auto;
    }

    // White gradient on image
    .has-gradient {
        position: relative;
        margin: auto;
        width: 100%;
        max-width: pixel(260);
        &::after {
            content:"";
            position: absolute;
            left: 0;
            bottom: 0;
            height: 4rem;
            width: 100%;
            background: linear-gradient(rgba($white, 0), $white);
        }
    }

    // Text content 
    .entry-content {
        padding-top: 1.5rem;
    }
}

// Last .blk-team on desktop
@media screen and (min-width: $blk-team-width-breakpoint) {
    .blk-team:last-of-type:nth-of-type(odd) {
        width: 100%;
        display: grid;
        justify-content: center;
        grid-template-columns: $blk-team-width $blk-team-width;
        grid-gap: (map-get($horizontal-padding-regular, $mobile_width ) * 2) ;
        @media screen and (min-width: $tablet_width) {
            grid-gap: (map-get($horizontal-padding-regular, $tablet_width ) * 2);
            @media screen and (min-width: $desktop_width) {
                grid-gap: (map-get($horizontal-padding-regular, $desktop_width ) * 2);
            }
        }

        // After is  filling the second column
        &::after {
            content: '';
            height: 100%;
            display: inherit;
            // Debug
            //background: green;
        }
    }
}

// Preview in Gutenberg Admin
.blk-team.is_preview,
.blk-team.is_preview:last-of-type:nth-of-type(odd) {
    width: 100%;
    display: block;
    text-align: center;
    &::after {
        display: none;
    }

    .team-card {
        margin-left: auto;
        margin-right: auto;
    }

    .img-preview {
        width: 100%;
        height: auto;
    }
}