/*

Gutenberg Block "blk-text-anaya" [titre-texte-lien-image.php]

File structure :
------------------
1 - Bloc layout

*/

// 1 - Bloc layout
.blk-text-anaya {
    display: grid;
    grid-template-columns: 1fr;
    @include gutter;
    width: 100%;
    // Prevent content to be hidden by topbar
    //@include spacing(padding-top, $topbar-height);
    @include spacing(padding-top, $vertical-padding-regular);
    .txt-container {
        @include spacing(padding-left, $horizontal-padding-regular);
        @include spacing(padding-right, $horizontal-padding-regular);
        @include spacing(padding-top, $vertical-padding-regular);
        @include spacing(padding-bottom, $vertical-padding-regular);
    }
    .title {
        margin: 0 0 0 0;
    }
    .separator {
        margin: 1rem auto;
    }
    .button-brd {
        display: inline-block;
        margin-top: 2rem;
    }
    .image-container {
        background-color: $brand-green-medium;
        width: 100%;
        height: 100%;
        position: relative;
        // White logo on top of image
    }
    // Image behaviour
    .visual {
        position: absolute;
        width: inherit;
        height: inherit;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
    }
    /*
    White Gradient on image (old design)
    .has-gradient {
        position: relative;
        &::after {
            // Mobile Style
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2rem;
            background: linear-gradient( rgba($white, 0), $white );

            // Desktop Style
            @media screen and (min-width: $mobile_width) {
                left: 0;
                top: 0;
                width: 2rem;
                height: 100%;
                background: linear-gradient( 90deg, $white, rgba($white, 0) );
            }
        }
    }

    @media screen and (min-width: $mobile_width) {

        // On desktop, gradient on right
        &.txt-right > .has-gradient::after {
            content: "";
            right: 0;
            left: unset;
            background: linear-gradient( 90deg, rgba($white, 0), $white );
        }
    }
    */
    .has-decor {
        position: relative;
        overflow: hidden;
        .decor {
            position: absolute;
            filter: saturate(0) brightness(100);
            bottom: 0;
            left: 0;
            width: auto;
            height: auto;
            max-width: pixel(140);
            @media screen and (min-width: $tablet_width) {
                max-width: pixel(260);
            }
            max-height: 100%;
            //object-fit: contain;
        }
    }
    &.txt-left .decor {
        right: 0;
        left: unset;
        transform: scale(-1, 1);
    }
}

// Design 1 : Image is background full-width
.layout-background {
    color: $white;
    width: 100%;
    max-width: 100%;
    @media screen and (min-width: $tablet_width) {
        grid-template-columns: 3fr 4fr;
        &.txt-right {
            grid-template-columns: 4fr 3fr;
            .image-container::after {
                right: 0;
                left: unset;
                background: linear-gradient( 90deg, rgba($brand-green, 0) 0%, rgba($brand-green, 0.9) 50%);
            }
            .txt-container {
                grid-column: 2 / 3;
            }
        }
    }
    .title {
        color: $white;
    }
    .separator {
        // Image becames white
        filter: saturate(0) brightness(100);
    }
    .txt-container {
        grid-row: 1;
        z-index: 10;
        grid-column: 1 / 2;
    }
    .image-container {
        z-index: -1;
        grid-row: 1;
        grid-column: 1 / 2;
        position: relative;
        @media screen and (min-width: $tablet_width) {
            grid-column: 1 / 3;
        }
        &::after {
            content: "";
            height: 100%;
            width: 100%;
            @media screen and (min-width: $tablet_width) {
                width: 57%;
            }
            right: unset;
            left: 0;
            top: 0;
            position: absolute;
            mix-blend-mode: multiply;
            //background: linear-gradient( -90deg, rgba($brand-green, 0) 50%, rgba($brand-green, 0.9) 90%);
            background:linear-gradient(-90deg, rgba(127, 138, 88, 0.3) 0%, rgba(127, 138, 88, 1) 60%);
            @media screen and (min-width: $tablet_width) {
                background: linear-gradient( -90deg, rgba($brand-green, 0) 0%, rgba($brand-green, 0.9) 50%);
            }
        }
    }
}

// Design 2 : Image is a block
.layout-medium_size {
    box-sizing: border-box;
    @media screen and (min-width: $mobile_width) {
        grid-template-columns: 1fr 1fr;
        @media screen and (min-width: $tablet_width) {
            grid-template-columns: 3fr 4fr;
            &.txt-right {
                grid-template-columns: 4fr 3fr;
            }
        }
    }
    &.txt-right {
        @media screen and (min-width: $mobile_width) {
            .txt-container {
                grid-column: 2 / 3;
            }
            .image-container {
                grid-column: 1 / 2;
            }
        }
    }
    .txt-container {
        grid-row: 2;
        @media screen and (min-width: $mobile_width) {
            grid-row: 1;
        }
    }
    .title {
        color: $brand-green;
    }
    .image-container {
        grid-row: 1;
        width: 100%;
        height: 100%;
        // Mobile 
        @media screen and (max-width: $mobile_width - 0.01rem) {
            min-height: 100vw;
        }
        // Desktop
        @media screen and (min-width: $mobile_width) {
            grid-row: 1;
        }
    }
}