/*

Style Archive Tools 

File structure :
------------------
1 - Image Thumbnail
------------------
2 - Article style
    2.1 Article Animation
    2.2 - Article tools
    2.3 - Article Learn
    2.4 - Article post

*/

// Image Thumbnail
.thumbnail {
    width: 100%;
    height: 16rem;
    overflow: hidden;
    border: 2px solid white;
    border-radius: 4px;
    background-color: $gray-medium;

    > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 1;
        transition: opacity .2s;
    }

    &:hover,
    &:focus,
    &:active {
        > img {
            opacity: 0.75;
        }
    }
}

// 2 - Article Style

// 2.1 Article Animation
// (Infinite scroll)
.article-tools,
.article-learn,
.article-post {
    opacity: 0;
    -webkit-animation: .4s fadein 1 forwards;
    animation: .4s fadein 1 forwards;
    &:nth-of-type(even) {
        animation-delay: .2s;
    }
}

@-webkit-keyframes fadein { 
    from { opacity: 0; } 
    to { opacity: 1; }  
}
    
@keyframes fadein { 
    from { opacity: 0; } 
    to { opacity: 1; }  
}

// 2.2 - Article tools
.article-tools {
    .thumbnail {
        border-color: $green;
    }
}

//2.3 - Article Learn
.article-learn {
    .thumbnail {
        border-color: $color-primary;
    }
}

//2.4 - Article post
.article-post {
    .thumbnail {
        border-color: $color-secondary;
    }
}
