/*

Style Archive Learn 

File structure :
------------------
A - Listing Archive 
------------------
B - Lsiting universal
------------------
C - Terms Listing (category)
------------------
D - Terms select (keywords)

*/

// A - Listing Archive ( 2 posts / line ) 
.listing-archive {

    display: grid;
    justify-items: center;
    @include gutter;
    grid-template-columns: 1fr;
    @media screen and (min-width: $mobile_width) {
        grid-template-columns: repeat( 2, 1fr);
    }

    > article {
        width: 100%;
    }
    
}

// B - Listing Universal ( 1 post / line )
.listing-universal {

    display: grid;
    @include gutter;
    grid-template-columns: 1fr ;

    > article  {
        display: block;
        > .thumbnail {
            float: left;
            width: 16rem;
            height: 16rem;
            margin-right: 2rem;
            margin-bottom: 0;
        }
        > * {
          display: block;
        }
    }

}

//C - Terms Listing (category)
.term-listing {
    text-align: center;
    margin-top: -1rem;

    > * {
    display: inline-block;
    margin-right: 1rem;
    margin-top: 1rem;
        &:last-child {
            margin-right: 0;
        }
    }

    &.margin-b {
        margin-bottom: 2rem;
    }
}

// D - Terms select (keywords)
#select-archive {
    min-width: 16rem;
    padding: 0.5rem;
    @include font(regular, text);
    margin-bottom: 2rem;
}